simple-flow.json
{"encodingVersion":{"majorVersion":2,"minorVersion":0},"maxTimerDrivenThreadCount":10,"maxEventDrivenThreadCount":1,"registries":[],"parameterContexts":[],"parameterProviders":[],"controllerServices":[],"reportingTasks":[],"templates":[{"identifier":"923aec86-d41d-4eb2-b37c-16cccd159586","instanceIdentifier":"923aec86-d41d-4eb2-b37c-16cccd159586","name":"simple-flow","templateDto":{"id":"923aec86-d41d-4eb2-b37c-16cccd159586","name":"simple-flow","description":"","timestamp":"03/15/2023 15:19:54 IST","snippet":{"processGroups":[],"remoteProcessGroups":[],"processors":[{"id":"48d44744-3518-36b6-0000-000000000000","parentGroupId":"dcfdf3f8-f516-391f-0000-000000000000","position":{"x":424.0,"y":0.0},"name":"InvokeHTTP","type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"state":"STOPPED","style":{},"relationships":[{"name":"Failure","autoTerminate":true,"retry":false},{"name":"No Retry","autoTerminate":true,"retry":false},{"name":"Original","autoTerminate":true,"retry":false},{"name":"Response","autoTerminate":false,"retry":false},{"name":"Retry","autoTerminate":true,"retry":false}],"restricted":false,"deprecated":false,"executionNodeRestricted":false,"config":{"properties":{"HTTP Method":"GET","Remote URL":"https://baconipsum.com/api/?type=abc","disable-http2":"False","Connection Timeout":"5 secs","Read Timeout":"15 secs","idle-timeout":"5 mins","max-idle-connections":"5","Proxy Type":"http","Digest Authentication":"false","Penalize on \"No Retry\"":"false","send-message-body":"true","set-form-filename":"true","Use Chunked Encoding":"false","Content-Encoding":"DISABLED","Content-Type":"${mime.type}","Include Date Header":"True","Max Length To Put In Attribute":"256","ignore-response-content":"false","use-etag":"false","etag-max-cache-size":"10MB","cookie-strategy":"DISABLED","Always Output Response":"false","flow-file-naming-strategy":"RANDOM","Add Response Headers to Request":"false","Follow Redirects":"True"},"descriptors":{"HTTP Method":{"name":"HTTP Method","dependencies":[]},"Remote URL":{"name":"Remote URL","dependencies":[]},"disable-http2":{"name":"disable-http2","dependencies":[]},"SSL Context Service":{"name":"SSL Context Service","identifiesControllerService":"org.apache.nifi.ssl.SSLContextService","dependencies":[]},"Connection Timeout":{"name":"Connection Timeout","dependencies":[]},"Read Timeout":{"name":"Read Timeout","dependencies":[]},"idle-timeout":{"name":"idle-timeout","dependencies":[]},"max-idle-connections":{"name":"max-idle-connections","dependencies":[]},"proxy-configuration-service":{"name":"proxy-configuration-service","identifiesControllerService":"org.apache.nifi.proxy.ProxyConfigurationService","dependencies":[]},"Proxy Host":{"name":"Proxy Host","dependencies":[]},"Proxy Port":{"name":"Proxy Port","dependencies":[{"propertyName":"Proxy Host"}]},"Proxy Type":{"name":"Proxy Type","dependencies":[{"propertyName":"Proxy Host"}]},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","dependencies":[{"propertyName":"Proxy Host"}]},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","dependencies":[{"propertyName":"Proxy Host"}]},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","identifiesControllerService":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider","dependencies":[]},"Basic Authentication Username":{"name":"Basic Authentication Username","dependencies":[]},"Basic Authentication Password":{"name":"Basic Authentication Password","dependencies":[]},"Digest Authentication":{"name":"Digest Authentication","dependencies":[{"propertyName":"Basic Authentication Username"}]},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","dependencies":[]},"send-message-body":{"name":"send-message-body","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"form-body-form-name":{"name":"form-body-form-name","dependencies":[{"propertyName":"send-message-body","dependentValues":["true"]}]},"set-form-filename":{"name":"set-form-filename","dependencies":[{"propertyName":"form-body-form-name"}]},"Use Chunked Encoding":{"name":"Use Chunked Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"Content-Encoding":{"name":"Content-Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"Content-Type":{"name":"Content-Type","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"Include Date Header":{"name":"Include Date Header","dependencies":[]},"Attributes to Send":{"name":"Attributes to Send","dependencies":[]},"Useragent":{"name":"Useragent","dependencies":[]},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","dependencies":[]},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","dependencies":[{"propertyName":"Put Response Body In Attribute"}]},"ignore-response-content":{"name":"ignore-response-content","dependencies":[]},"use-etag":{"name":"use-etag","dependencies":[]},"etag-max-cache-size":{"name":"etag-max-cache-size","dependencies":[{"propertyName":"use-etag","dependentValues":["true"]}]},"cookie-strategy":{"name":"cookie-strategy","dependencies":[]},"Always Output Response":{"name":"Always Output Response","dependencies":[]},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","dependencies":[]},"Add Response Headers to Request":{"name":"Add Response Headers to Request","dependencies":[]},"Follow Redirects":{"name":"Follow Redirects","dependencies":[]}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins"}},{"id":"56aba6b5-b169-35e5-0000-000000000000","parentGroupId":"dcfdf3f8-f516-391f-0000-000000000000","position":{"x":0.0,"y":0.0},"name":"ListenHTTP","type":"org.apache.nifi.processors.standard.ListenHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"state":"STOPPED","style":{},"relationships":[{"name":"success","autoTerminate":false,"retry":false}],"restricted":false,"deprecated":false,"executionNodeRestricted":false,"config":{"properties":{"Base Path":"listener","Listening Port":"8080","HTTP Protocols":"HTTP_1_1","client-authentication":"AUTO","Authorized DN Pattern":".*","authorized-issuer-dn-pattern":".*","Max Unconfirmed Flowfile Time":"60 secs","Return Code":"200","multipart-request-max-size":"1 MB","multipart-read-buffer-size":"512 KB","max-thread-pool-size":"200"},"descriptors":{"Base Path":{"name":"Base Path","dependencies":[]},"Listening Port":{"name":"Listening Port","dependencies":[]},"health-check-port":{"name":"health-check-port","dependencies":[]},"Max Data to Receive per Second":{"name":"Max Data to Receive per Second","dependencies":[]},"SSL Context Service":{"name":"SSL Context Service","identifiesControllerService":"org.apache.nifi.ssl.RestrictedSSLContextService","dependencies":[]},"HTTP Protocols":{"name":"HTTP Protocols","dependencies":[{"propertyName":"SSL Context Service"}]},"client-authentication":{"name":"client-authentication","dependencies":[{"propertyName":"SSL Context Service"}]},"Authorized DN Pattern":{"name":"Authorized DN Pattern","dependencies":[]},"authorized-issuer-dn-pattern":{"name":"authorized-issuer-dn-pattern","dependencies":[]},"Max Unconfirmed Flowfile Time":{"name":"Max Unconfirmed Flowfile Time","dependencies":[]},"HTTP Headers to receive as Attributes (Regex)":{"name":"HTTP Headers to receive as Attributes (Regex)","dependencies":[]},"Return Code":{"name":"Return Code","dependencies":[]},"multipart-request-max-size":{"name":"multipart-request-max-size","dependencies":[]},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","dependencies":[]},"max-thread-pool-size":{"name":"max-thread-pool-size","dependencies":[]},"record-reader":{"name":"record-reader","identifiesControllerService":"org.apache.nifi.serialization.RecordReaderFactory","dependencies":[]},"record-writer":{"name":"record-writer","identifiesControllerService":"org.apache.nifi.serialization.RecordSetWriterFactory","dependencies":[{"propertyName":"record-reader"}]}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins"}},{"id":"fcdb067f-a879-35be-0000-000000000000","parentGroupId":"dcfdf3f8-f516-391f-0000-000000000000","position":{"x":864.0,"y":0.0},"name":"PutFile","type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"state":"STOPPED","style":{},"relationships":[{"name":"failure","autoTerminate":true,"retry":false},{"name":"success","autoTerminate":true,"retry":false}],"restricted":true,"deprecated":false,"executionNodeRestricted":false,"config":{"properties":{"Directory":"/Users/prakhar/Desktop/","Conflict Resolution Strategy":"fail","Create Missing Directories":"true","Permissions":"rwxrwxrwx"},"descriptors":{"Directory":{"name":"Directory","dependencies":[]},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","dependencies":[]},"Create Missing Directories":{"name":"Create Missing Directories","dependencies":[]},"Maximum File Count":{"name":"Maximum File Count","dependencies":[]},"Last Modified Time":{"name":"Last Modified Time","dependencies":[]},"Permissions":{"name":"Permissions","dependencies":[]},"Owner":{"name":"Owner","dependencies":[]},"Group":{"name":"Group","dependencies":[]}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins"}}],"inputPorts":[],"outputPorts":[],"connections":[{"id":"077dc2bd-9941-3c90-0000-000000000000","parentGroupId":"dcfdf3f8-f516-391f-0000-000000000000","source":{"id":"56aba6b5-b169-35e5-0000-000000000000","type":"PROCESSOR","groupId":"dcfdf3f8-f516-391f-0000-000000000000"},"destination":{"id":"48d44744-3518-36b6-0000-000000000000","type":"PROCESSOR","groupId":"dcfdf3f8-f516-391f-0000-000000000000"},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalancePartitionAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStatus":"LOAD_BALANCE_NOT_CONFIGURED"},{"id":"c6b809e6-ad1e-3cb4-0000-000000000000","parentGroupId":"dcfdf3f8-f516-391f-0000-000000000000","source":{"id":"48d44744-3518-36b6-0000-000000000000","type":"PROCESSOR","groupId":"dcfdf3f8-f516-391f-0000-000000000000"},"destination":{"id":"fcdb067f-a879-35be-0000-000000000000","type":"PROCESSOR","groupId":"dcfdf3f8-f516-391f-0000-000000000000"},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalancePartitionAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStatus":"LOAD_BALANCE_NOT_CONFIGURED"}],"labels":[],"funnels":[],"controllerServices":[]},"encoding-version":"1.3"},"componentType":"TEMPLATE","groupIdentifier":"e4a33c32-0186-1000-00db-34510da6dd3e"},{"identifier":"8fda810f-b013-463b-b431-1a615a991774","instanceIdentifier":"8fda810f-b013-463b-b431-1a615a991774","name":"xyz","templateDto":{"id":"8fda810f-b013-463b-b431-1a615a991774","groupId":"c844f95f-0186-1000-835c-443293a8799e","name":"xyz","description":"","timestamp":"03/15/2023 12:21:51 IST","snippet":{"processGroups":[],"remoteProcessGroups":[],"processors":[{"id":"042ae2f8-6325-3eb1-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","position":{"x":416.0,"y":528.0},"name":"request-mapper","type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"state":"STOPPED","style":{},"relationships":[{"name":"aggregator-10","autoTerminate":false,"retry":false},{"name":"filter-dont-6","autoTerminate":false,"retry":false},{"name":"filter-proceed-5","autoTerminate":false,"retry":false},{"name":"input-node-1","autoTerminate":false,"retry":false},{"name":"iterator-4","autoTerminate":false,"retry":false},{"name":"unmatched","autoTerminate":false,"retry":false}],"executionNodeRestricted":false,"config":{"properties":{"Routing Strategy":"Route to Property name","input-node-1":"x","filter-dont-6":"c","aggregator-10":"c","filter-proceed-5":"b","iterator-4":"a"},"descriptors":{"Routing Strategy":{"name":"Routing Strategy"},"input-node-1":{"name":"input-node-1"},"filter-dont-6":{"name":"filter-dont-6"},"aggregator-10":{"name":"aggregator-10"},"filter-proceed-5":{"name":"filter-proceed-5"},"iterator-4":{"name":"iterator-4"}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"retryCount":10,"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins"}},{"id":"0f1e46a9-1eac-3cb8-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","position":{"x":520.0,"y":1632.0},"name":"request-mapper","type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"state":"STOPPED","style":{},"relationships":[{"name":"aggregator-10","autoTerminate":false,"retry":false},{"name":"async-action-3","autoTerminate":false,"retry":false},{"name":"batching-action-9","autoTerminate":false,"retry":false},{"name":"input-node-1","autoTerminate":false,"retry":false},{"name":"iterator-4","autoTerminate":false,"retry":false},{"name":"query-action-5","autoTerminate":false,"retry":false},{"name":"unmatched","autoTerminate":false,"retry":false}],"executionNodeRestricted":false,"config":{"properties":{"batching-action-9":"z","Routing Strategy":"Route to Property name","input-node-1":"x","async-action-3":"y","aggregator-10":"c","iterator-4":"a","query-action-5":"b"},"descriptors":{"batching-action-9":{"name":"batching-action-9"},"Routing Strategy":{"name":"Routing Strategy"},"input-node-1":{"name":"input-node-1"},"async-action-3":{"name":"async-action-3"},"aggregator-10":{"name":"aggregator-10"},"iterator-4":{"name":"iterator-4"},"query-action-5":{"name":"query-action-5"}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"retryCount":10,"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins"}},{"id":"1d7c9dea-526e-36d0-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","position":{"x":1496.0,"y":1832.0},"name":"echo-8","type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"state":"STOPPED","style":{},"relationships":[{"name":"Failure","autoTerminate":false,"retry":false},{"name":"No Retry","autoTerminate":false,"retry":false},{"name":"Original","autoTerminate":false,"retry":false},{"name":"Response","autoTerminate":false,"retry":false},{"name":"Retry","autoTerminate":false,"retry":false}],"executionNodeRestricted":false,"config":{"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"descriptors":{"Proxy Host":{"name":"Proxy Host"},"Attributes to Send":{"name":"Attributes to Send"},"use-etag":{"name":"use-etag"},"proxy-configuration-service":{"name":"proxy-configuration-service","identifiesControllerService":"org.apache.nifi.proxy.ProxyConfigurationService"},"Proxy Type":{"name":"Proxy Type","dependencies":[{"propertyName":"Proxy Host"}]},"Basic Authentication Password":{"name":"Basic Authentication Password"},"cookie-strategy":{"name":"cookie-strategy"},"Connection Timeout":{"name":"Connection Timeout"},"send-message-body":{"name":"send-message-body","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"set-form-filename":{"name":"set-form-filename","dependencies":[{"propertyName":"form-body-form-name"}]},"Always Output Response":{"name":"Always Output Response"},"etag-max-cache-size":{"name":"etag-max-cache-size","dependencies":[{"propertyName":"use-etag","dependentValues":["true"]}]},"Content-Encoding":{"name":"Content-Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"disable-http2":{"name":"disable-http2"},"idle-timeout":{"name":"idle-timeout"},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute"},"Use Chunked Encoding":{"name":"Use Chunked Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"Follow Redirects":{"name":"Follow Redirects"},"Remote URL":{"name":"Remote URL"},"form-body-form-name":{"name":"form-body-form-name","dependencies":[{"propertyName":"send-message-body","dependentValues":["true"]}]},"Content-Type":{"name":"Content-Type","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy"},"max-idle-connections":{"name":"max-idle-connections"},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","dependencies":[{"propertyName":"Proxy Host"}]},"Read Timeout":{"name":"Read Timeout"},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","dependencies":[{"propertyName":"Put Response Body In Attribute"}]},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","dependencies":[{"propertyName":"Proxy Host"}]},"ignore-response-content":{"name":"ignore-response-content"},"Proxy Port":{"name":"Proxy Port","dependencies":[{"propertyName":"Proxy Host"}]},"SSL Context Service":{"name":"SSL Context Service","identifiesControllerService":"org.apache.nifi.ssl.SSLContextService"},"Digest Authentication":{"name":"Digest Authentication","dependencies":[{"propertyName":"Basic Authentication Username"}]},"HTTP Method":{"name":"HTTP Method"},"Add Response Headers to Request":{"name":"Add Response Headers to Request"},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","identifiesControllerService":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider"},"Basic Authentication Username":{"name":"Basic Authentication Username"},"Include Date Header":{"name":"Include Date Header"},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\""},"Useragent":{"name":"Useragent"}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"retryCount":10,"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins"}},{"id":"1dc5c8bd-d73e-3c4c-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","position":{"x":1904.0,"y":1536.0},"name":"batching-action-9","type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"state":"STOPPED","style":{},"relationships":[{"name":"Failure","autoTerminate":false,"retry":false},{"name":"No Retry","autoTerminate":false,"retry":false},{"name":"Original","autoTerminate":false,"retry":false},{"name":"Response","autoTerminate":false,"retry":false},{"name":"Retry","autoTerminate":false,"retry":false}],"executionNodeRestricted":false,"config":{"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"descriptors":{"Proxy Host":{"name":"Proxy Host"},"Attributes to Send":{"name":"Attributes to Send"},"use-etag":{"name":"use-etag"},"proxy-configuration-service":{"name":"proxy-configuration-service","identifiesControllerService":"org.apache.nifi.proxy.ProxyConfigurationService"},"Proxy Type":{"name":"Proxy Type","dependencies":[{"propertyName":"Proxy Host"}]},"Basic Authentication Password":{"name":"Basic Authentication Password"},"cookie-strategy":{"name":"cookie-strategy"},"Connection Timeout":{"name":"Connection Timeout"},"send-message-body":{"name":"send-message-body","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"set-form-filename":{"name":"set-form-filename","dependencies":[{"propertyName":"form-body-form-name"}]},"Always Output Response":{"name":"Always Output Response"},"etag-max-cache-size":{"name":"etag-max-cache-size","dependencies":[{"propertyName":"use-etag","dependentValues":["true"]}]},"Content-Encoding":{"name":"Content-Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"disable-http2":{"name":"disable-http2"},"idle-timeout":{"name":"idle-timeout"},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute"},"Use Chunked Encoding":{"name":"Use Chunked Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"Follow Redirects":{"name":"Follow Redirects"},"Remote URL":{"name":"Remote URL"},"form-body-form-name":{"name":"form-body-form-name","dependencies":[{"propertyName":"send-message-body","dependentValues":["true"]}]},"Content-Type":{"name":"Content-Type","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy"},"max-idle-connections":{"name":"max-idle-connections"},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","dependencies":[{"propertyName":"Proxy Host"}]},"Read Timeout":{"name":"Read Timeout"},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","dependencies":[{"propertyName":"Put Response Body In Attribute"}]},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","dependencies":[{"propertyName":"Proxy Host"}]},"ignore-response-content":{"name":"ignore-response-content"},"Proxy Port":{"name":"Proxy Port","dependencies":[{"propertyName":"Proxy Host"}]},"SSL Context Service":{"name":"SSL Context Service","identifiesControllerService":"org.apache.nifi.ssl.SSLContextService"},"Digest Authentication":{"name":"Digest Authentication","dependencies":[{"propertyName":"Basic Authentication Username"}]},"HTTP Method":{"name":"HTTP Method"},"Add Response Headers to Request":{"name":"Add Response Headers to Request"},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","identifiesControllerService":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider"},"Basic Authentication Username":{"name":"Basic Authentication Username"},"Include Date Header":{"name":"Include Date Header"},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\""},"Useragent":{"name":"Useragent"}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"retryCount":10,"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins"}},{"id":"22b8560c-40a0-343f-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","position":{"x":1864.0,"y":168.0},"name":"iterator-4","type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"state":"STOPPED","style":{},"relationships":[{"name":"Failure","autoTerminate":false,"retry":false},{"name":"No Retry","autoTerminate":false,"retry":false},{"name":"Original","autoTerminate":false,"retry":false},{"name":"Response","autoTerminate":false,"retry":false},{"name":"Retry","autoTerminate":false,"retry":false}],"executionNodeRestricted":false,"config":{"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"api.devflowsplus","Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"descriptors":{"Proxy Host":{"name":"Proxy Host"},"Attributes to Send":{"name":"Attributes to Send"},"use-etag":{"name":"use-etag"},"proxy-configuration-service":{"name":"proxy-configuration-service","identifiesControllerService":"org.apache.nifi.proxy.ProxyConfigurationService"},"Proxy Type":{"name":"Proxy Type","dependencies":[{"propertyName":"Proxy Host"}]},"Basic Authentication Password":{"name":"Basic Authentication Password"},"cookie-strategy":{"name":"cookie-strategy"},"Connection Timeout":{"name":"Connection Timeout"},"send-message-body":{"name":"send-message-body","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"set-form-filename":{"name":"set-form-filename","dependencies":[{"propertyName":"form-body-form-name"}]},"Always Output Response":{"name":"Always Output Response"},"etag-max-cache-size":{"name":"etag-max-cache-size","dependencies":[{"propertyName":"use-etag","dependentValues":["true"]}]},"Content-Encoding":{"name":"Content-Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"disable-http2":{"name":"disable-http2"},"idle-timeout":{"name":"idle-timeout"},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute"},"Use Chunked Encoding":{"name":"Use Chunked Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"Follow Redirects":{"name":"Follow Redirects"},"Remote URL":{"name":"Remote URL"},"form-body-form-name":{"name":"form-body-form-name","dependencies":[{"propertyName":"send-message-body","dependentValues":["true"]}]},"Content-Type":{"name":"Content-Type","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy"},"max-idle-connections":{"name":"max-idle-connections"},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","dependencies":[{"propertyName":"Proxy Host"}]},"Read Timeout":{"name":"Read Timeout"},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","dependencies":[{"propertyName":"Put Response Body In Attribute"}]},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","dependencies":[{"propertyName":"Proxy Host"}]},"ignore-response-content":{"name":"ignore-response-content"},"Proxy Port":{"name":"Proxy Port","dependencies":[{"propertyName":"Proxy Host"}]},"SSL Context Service":{"name":"SSL Context Service","identifiesControllerService":"org.apache.nifi.ssl.SSLContextService"},"Digest Authentication":{"name":"Digest Authentication","dependencies":[{"propertyName":"Basic Authentication Username"}]},"HTTP Method":{"name":"HTTP Method"},"Add Response Headers to Request":{"name":"Add Response Headers to Request"},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","identifiesControllerService":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider"},"Basic Authentication Username":{"name":"Basic Authentication Username"},"Include Date Header":{"name":"Include Date Header"},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\""},"Useragent":{"name":"Useragent"}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"retryCount":10,"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins"}},{"id":"22f3dd34-eff8-3314-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","position":{"x":1304.0,"y":552.0},"name":"echo-7","type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"state":"STOPPED","style":{},"relationships":[{"name":"Failure","autoTerminate":false,"retry":false},{"name":"No Retry","autoTerminate":false,"retry":false},{"name":"Original","autoTerminate":false,"retry":false},{"name":"Response","autoTerminate":false,"retry":false},{"name":"Retry","autoTerminate":false,"retry":false}],"executionNodeRestricted":false,"config":{"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"descriptors":{"Proxy Host":{"name":"Proxy Host"},"Attributes to Send":{"name":"Attributes to Send"},"use-etag":{"name":"use-etag"},"proxy-configuration-service":{"name":"proxy-configuration-service","identifiesControllerService":"org.apache.nifi.proxy.ProxyConfigurationService"},"Proxy Type":{"name":"Proxy Type","dependencies":[{"propertyName":"Proxy Host"}]},"Basic Authentication Password":{"name":"Basic Authentication Password"},"cookie-strategy":{"name":"cookie-strategy"},"Connection Timeout":{"name":"Connection Timeout"},"send-message-body":{"name":"send-message-body","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"set-form-filename":{"name":"set-form-filename","dependencies":[{"propertyName":"form-body-form-name"}]},"Always Output Response":{"name":"Always Output Response"},"etag-max-cache-size":{"name":"etag-max-cache-size","dependencies":[{"propertyName":"use-etag","dependentValues":["true"]}]},"Content-Encoding":{"name":"Content-Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"disable-http2":{"name":"disable-http2"},"idle-timeout":{"name":"idle-timeout"},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute"},"Use Chunked Encoding":{"name":"Use Chunked Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"Follow Redirects":{"name":"Follow Redirects"},"Remote URL":{"name":"Remote URL"},"form-body-form-name":{"name":"form-body-form-name","dependencies":[{"propertyName":"send-message-body","dependentValues":["true"]}]},"Content-Type":{"name":"Content-Type","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy"},"max-idle-connections":{"name":"max-idle-connections"},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","dependencies":[{"propertyName":"Proxy Host"}]},"Read Timeout":{"name":"Read Timeout"},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","dependencies":[{"propertyName":"Put Response Body In Attribute"}]},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","dependencies":[{"propertyName":"Proxy Host"}]},"ignore-response-content":{"name":"ignore-response-content"},"Proxy Port":{"name":"Proxy Port","dependencies":[{"propertyName":"Proxy Host"}]},"SSL Context Service":{"name":"SSL Context Service","identifiesControllerService":"org.apache.nifi.ssl.SSLContextService"},"Digest Authentication":{"name":"Digest Authentication","dependencies":[{"propertyName":"Basic Authentication Username"}]},"HTTP Method":{"name":"HTTP Method"},"Add Response Headers to Request":{"name":"Add Response Headers to Request"},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","identifiesControllerService":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider"},"Basic Authentication Username":{"name":"Basic Authentication Username"},"Include Date Header":{"name":"Include Date Header"},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\""},"Useragent":{"name":"Useragent"}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"retryCount":10,"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins"}},{"id":"2cd91183-394d-31a7-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","position":{"x":0.0,"y":528.0},"name":"main-listener","type":"org.apache.nifi.processors.standard.ListenHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"state":"STOPPED","style":{},"relationships":[{"name":"success","autoTerminate":false,"retry":false}],"executionNodeRestricted":false,"config":{"properties":{"authorized-issuer-dn-pattern":".*","multipart-request-max-size":"1 MB","HTTP Protocols":"HTTP_1_1","Authorized DN Pattern":".*","max-thread-pool-size":"200","Base Path":"contentListener","multipart-read-buffer-size":"512 KB","Max Unconfirmed Flowfile Time":"60 secs","client-authentication":"AUTO","Return Code":"200"},"descriptors":{"authorized-issuer-dn-pattern":{"name":"authorized-issuer-dn-pattern"},"multipart-request-max-size":{"name":"multipart-request-max-size"},"record-writer":{"name":"record-writer","identifiesControllerService":"org.apache.nifi.serialization.RecordSetWriterFactory","dependencies":[{"propertyName":"record-reader"}]},"HTTP Protocols":{"name":"HTTP Protocols","dependencies":[{"propertyName":"SSL Context Service"}]},"HTTP Headers to receive as Attributes (Regex)":{"name":"HTTP Headers to receive as Attributes (Regex)"},"health-check-port":{"name":"health-check-port"},"Authorized DN Pattern":{"name":"Authorized DN Pattern"},"max-thread-pool-size":{"name":"max-thread-pool-size"},"Base Path":{"name":"Base Path"},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size"},"SSL Context Service":{"name":"SSL Context Service","identifiesControllerService":"org.apache.nifi.ssl.RestrictedSSLContextService"},"Max Unconfirmed Flowfile Time":{"name":"Max Unconfirmed Flowfile Time"},"Max Data to Receive per Second":{"name":"Max Data to Receive per Second"},"client-authentication":{"name":"client-authentication","dependencies":[{"propertyName":"SSL Context Service"}]},"Return Code":{"name":"Return Code"},"record-reader":{"name":"record-reader","identifiesControllerService":"org.apache.nifi.serialization.RecordReaderFactory"},"Listening Port":{"name":"Listening Port"}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"retryCount":10,"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins"}},{"id":"34a3a4ce-a943-3780-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","position":{"x":1984.0,"y":2368.0},"name":"aggregator-10","type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"state":"STOPPED","style":{},"relationships":[{"name":"Failure","autoTerminate":false,"retry":false},{"name":"No Retry","autoTerminate":false,"retry":false},{"name":"Original","autoTerminate":false,"retry":false},{"name":"Response","autoTerminate":false,"retry":false},{"name":"Retry","autoTerminate":false,"retry":false}],"executionNodeRestricted":false,"config":{"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"descriptors":{"Proxy Host":{"name":"Proxy Host"},"Attributes to Send":{"name":"Attributes to Send"},"use-etag":{"name":"use-etag"},"proxy-configuration-service":{"name":"proxy-configuration-service","identifiesControllerService":"org.apache.nifi.proxy.ProxyConfigurationService"},"Proxy Type":{"name":"Proxy Type","dependencies":[{"propertyName":"Proxy Host"}]},"Basic Authentication Password":{"name":"Basic Authentication Password"},"cookie-strategy":{"name":"cookie-strategy"},"Connection Timeout":{"name":"Connection Timeout"},"send-message-body":{"name":"send-message-body","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"set-form-filename":{"name":"set-form-filename","dependencies":[{"propertyName":"form-body-form-name"}]},"Always Output Response":{"name":"Always Output Response"},"etag-max-cache-size":{"name":"etag-max-cache-size","dependencies":[{"propertyName":"use-etag","dependentValues":["true"]}]},"Content-Encoding":{"name":"Content-Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"disable-http2":{"name":"disable-http2"},"idle-timeout":{"name":"idle-timeout"},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute"},"Use Chunked Encoding":{"name":"Use Chunked Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"Follow Redirects":{"name":"Follow Redirects"},"Remote URL":{"name":"Remote URL"},"form-body-form-name":{"name":"form-body-form-name","dependencies":[{"propertyName":"send-message-body","dependentValues":["true"]}]},"Content-Type":{"name":"Content-Type","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy"},"max-idle-connections":{"name":"max-idle-connections"},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","dependencies":[{"propertyName":"Proxy Host"}]},"Read Timeout":{"name":"Read Timeout"},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","dependencies":[{"propertyName":"Put Response Body In Attribute"}]},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","dependencies":[{"propertyName":"Proxy Host"}]},"ignore-response-content":{"name":"ignore-response-content"},"Proxy Port":{"name":"Proxy Port","dependencies":[{"propertyName":"Proxy Host"}]},"SSL Context Service":{"name":"SSL Context Service","identifiesControllerService":"org.apache.nifi.ssl.SSLContextService"},"Digest Authentication":{"name":"Digest Authentication","dependencies":[{"propertyName":"Basic Authentication Username"}]},"HTTP Method":{"name":"HTTP Method"},"Add Response Headers to Request":{"name":"Add Response Headers to Request"},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","identifiesControllerService":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider"},"Basic Authentication Username":{"name":"Basic Authentication Username"},"Include Date Header":{"name":"Include Date Header"},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\""},"Useragent":{"name":"Useragent"}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"retryCount":10,"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins"}},{"id":"3d28ab62-c612-3daa-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","position":{"x":1304.0,"y":992.0},"name":"echo-9","type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"state":"STOPPED","style":{},"relationships":[{"name":"Failure","autoTerminate":false,"retry":false},{"name":"No Retry","autoTerminate":false,"retry":false},{"name":"Original","autoTerminate":false,"retry":false},{"name":"Response","autoTerminate":false,"retry":false},{"name":"Retry","autoTerminate":false,"retry":false}],"executionNodeRestricted":false,"config":{"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"descriptors":{"Proxy Host":{"name":"Proxy Host"},"Attributes to Send":{"name":"Attributes to Send"},"use-etag":{"name":"use-etag"},"proxy-configuration-service":{"name":"proxy-configuration-service","identifiesControllerService":"org.apache.nifi.proxy.ProxyConfigurationService"},"Proxy Type":{"name":"Proxy Type","dependencies":[{"propertyName":"Proxy Host"}]},"Basic Authentication Password":{"name":"Basic Authentication Password"},"cookie-strategy":{"name":"cookie-strategy"},"Connection Timeout":{"name":"Connection Timeout"},"send-message-body":{"name":"send-message-body","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"set-form-filename":{"name":"set-form-filename","dependencies":[{"propertyName":"form-body-form-name"}]},"Always Output Response":{"name":"Always Output Response"},"etag-max-cache-size":{"name":"etag-max-cache-size","dependencies":[{"propertyName":"use-etag","dependentValues":["true"]}]},"Content-Encoding":{"name":"Content-Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"disable-http2":{"name":"disable-http2"},"idle-timeout":{"name":"idle-timeout"},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute"},"Use Chunked Encoding":{"name":"Use Chunked Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"Follow Redirects":{"name":"Follow Redirects"},"Remote URL":{"name":"Remote URL"},"form-body-form-name":{"name":"form-body-form-name","dependencies":[{"propertyName":"send-message-body","dependentValues":["true"]}]},"Content-Type":{"name":"Content-Type","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy"},"max-idle-connections":{"name":"max-idle-connections"},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","dependencies":[{"propertyName":"Proxy Host"}]},"Read Timeout":{"name":"Read Timeout"},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","dependencies":[{"propertyName":"Put Response Body In Attribute"}]},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","dependencies":[{"propertyName":"Proxy Host"}]},"ignore-response-content":{"name":"ignore-response-content"},"Proxy Port":{"name":"Proxy Port","dependencies":[{"propertyName":"Proxy Host"}]},"SSL Context Service":{"name":"SSL Context Service","identifiesControllerService":"org.apache.nifi.ssl.SSLContextService"},"Digest Authentication":{"name":"Digest Authentication","dependencies":[{"propertyName":"Basic Authentication Username"}]},"HTTP Method":{"name":"HTTP Method"},"Add Response Headers to Request":{"name":"Add Response Headers to Request"},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","identifiesControllerService":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider"},"Basic Authentication Username":{"name":"Basic Authentication Username"},"Include Date Header":{"name":"Include Date Header"},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\""},"Useragent":{"name":"Useragent"}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"retryCount":10,"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins"}},{"id":"3feffda5-966c-380d-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","position":{"x":1296.0,"y":328.0},"name":"schema-c-2","type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"state":"STOPPED","style":{},"relationships":[{"name":"Failure","autoTerminate":false,"retry":false},{"name":"No Retry","autoTerminate":false,"retry":false},{"name":"Original","autoTerminate":false,"retry":false},{"name":"Response","autoTerminate":false,"retry":false},{"name":"Retry","autoTerminate":false,"retry":false}],"executionNodeRestricted":false,"config":{"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"descriptors":{"Proxy Host":{"name":"Proxy Host"},"Attributes to Send":{"name":"Attributes to Send"},"use-etag":{"name":"use-etag"},"proxy-configuration-service":{"name":"proxy-configuration-service","identifiesControllerService":"org.apache.nifi.proxy.ProxyConfigurationService"},"Proxy Type":{"name":"Proxy Type","dependencies":[{"propertyName":"Proxy Host"}]},"Basic Authentication Password":{"name":"Basic Authentication Password"},"cookie-strategy":{"name":"cookie-strategy"},"Connection Timeout":{"name":"Connection Timeout"},"send-message-body":{"name":"send-message-body","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"set-form-filename":{"name":"set-form-filename","dependencies":[{"propertyName":"form-body-form-name"}]},"Always Output Response":{"name":"Always Output Response"},"etag-max-cache-size":{"name":"etag-max-cache-size","dependencies":[{"propertyName":"use-etag","dependentValues":["true"]}]},"Content-Encoding":{"name":"Content-Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"disable-http2":{"name":"disable-http2"},"idle-timeout":{"name":"idle-timeout"},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute"},"Use Chunked Encoding":{"name":"Use Chunked Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"Follow Redirects":{"name":"Follow Redirects"},"Remote URL":{"name":"Remote URL"},"form-body-form-name":{"name":"form-body-form-name","dependencies":[{"propertyName":"send-message-body","dependentValues":["true"]}]},"Content-Type":{"name":"Content-Type","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy"},"max-idle-connections":{"name":"max-idle-connections"},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","dependencies":[{"propertyName":"Proxy Host"}]},"Read Timeout":{"name":"Read Timeout"},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","dependencies":[{"propertyName":"Put Response Body In Attribute"}]},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","dependencies":[{"propertyName":"Proxy Host"}]},"ignore-response-content":{"name":"ignore-response-content"},"Proxy Port":{"name":"Proxy Port","dependencies":[{"propertyName":"Proxy Host"}]},"SSL Context Service":{"name":"SSL Context Service","identifiesControllerService":"org.apache.nifi.ssl.SSLContextService"},"Digest Authentication":{"name":"Digest Authentication","dependencies":[{"propertyName":"Basic Authentication Username"}]},"HTTP Method":{"name":"HTTP Method"},"Add Response Headers to Request":{"name":"Add Response Headers to Request"},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","identifiesControllerService":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider"},"Basic Authentication Username":{"name":"Basic Authentication Username"},"Include Date Header":{"name":"Include Date Header"},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\""},"Useragent":{"name":"Useragent"}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"retryCount":10,"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins"}},{"id":"438503aa-3565-3d2a-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","position":{"x":872.0,"y":328.0},"name":"input-node-1","type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"state":"STOPPED","style":{},"relationships":[{"name":"Failure","autoTerminate":false,"retry":false},{"name":"No Retry","autoTerminate":false,"retry":false},{"name":"Original","autoTerminate":false,"retry":false},{"name":"Response","autoTerminate":false,"retry":false},{"name":"Retry","autoTerminate":false,"retry":false}],"executionNodeRestricted":false,"config":{"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"descriptors":{"Proxy Host":{"name":"Proxy Host"},"Attributes to Send":{"name":"Attributes to Send"},"use-etag":{"name":"use-etag"},"proxy-configuration-service":{"name":"proxy-configuration-service","identifiesControllerService":"org.apache.nifi.proxy.ProxyConfigurationService"},"Proxy Type":{"name":"Proxy Type","dependencies":[{"propertyName":"Proxy Host"}]},"Basic Authentication Password":{"name":"Basic Authentication Password"},"cookie-strategy":{"name":"cookie-strategy"},"Connection Timeout":{"name":"Connection Timeout"},"send-message-body":{"name":"send-message-body","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"set-form-filename":{"name":"set-form-filename","dependencies":[{"propertyName":"form-body-form-name"}]},"Always Output Response":{"name":"Always Output Response"},"etag-max-cache-size":{"name":"etag-max-cache-size","dependencies":[{"propertyName":"use-etag","dependentValues":["true"]}]},"Content-Encoding":{"name":"Content-Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"disable-http2":{"name":"disable-http2"},"idle-timeout":{"name":"idle-timeout"},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute"},"Use Chunked Encoding":{"name":"Use Chunked Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"Follow Redirects":{"name":"Follow Redirects"},"Remote URL":{"name":"Remote URL"},"form-body-form-name":{"name":"form-body-form-name","dependencies":[{"propertyName":"send-message-body","dependentValues":["true"]}]},"Content-Type":{"name":"Content-Type","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy"},"max-idle-connections":{"name":"max-idle-connections"},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","dependencies":[{"propertyName":"Proxy Host"}]},"Read Timeout":{"name":"Read Timeout"},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","dependencies":[{"propertyName":"Put Response Body In Attribute"}]},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","dependencies":[{"propertyName":"Proxy Host"}]},"ignore-response-content":{"name":"ignore-response-content"},"Proxy Port":{"name":"Proxy Port","dependencies":[{"propertyName":"Proxy Host"}]},"SSL Context Service":{"name":"SSL Context Service","identifiesControllerService":"org.apache.nifi.ssl.SSLContextService"},"Digest Authentication":{"name":"Digest Authentication","dependencies":[{"propertyName":"Basic Authentication Username"}]},"HTTP Method":{"name":"HTTP Method"},"Add Response Headers to Request":{"name":"Add Response Headers to Request"},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","identifiesControllerService":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider"},"Basic Authentication Username":{"name":"Basic Authentication Username"},"Include Date Header":{"name":"Include Date Header"},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\""},"Useragent":{"name":"Useragent"}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"retryCount":10,"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins"}},{"id":"4730087b-0f5b-3331-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","position":{"x":1864.0,"y":504.0},"name":"filter-dont-5","type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"state":"STOPPED","style":{},"relationships":[{"name":"Failure","autoTerminate":false,"retry":false},{"name":"No Retry","autoTerminate":false,"retry":false},{"name":"Original","autoTerminate":false,"retry":false},{"name":"Response","autoTerminate":false,"retry":false},{"name":"Retry","autoTerminate":false,"retry":false}],"executionNodeRestricted":false,"config":{"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"api.devflowsplus","Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"descriptors":{"Proxy Host":{"name":"Proxy Host"},"Attributes to Send":{"name":"Attributes to Send"},"use-etag":{"name":"use-etag"},"proxy-configuration-service":{"name":"proxy-configuration-service","identifiesControllerService":"org.apache.nifi.proxy.ProxyConfigurationService"},"Proxy Type":{"name":"Proxy Type","dependencies":[{"propertyName":"Proxy Host"}]},"Basic Authentication Password":{"name":"Basic Authentication Password"},"cookie-strategy":{"name":"cookie-strategy"},"Connection Timeout":{"name":"Connection Timeout"},"send-message-body":{"name":"send-message-body","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"set-form-filename":{"name":"set-form-filename","dependencies":[{"propertyName":"form-body-form-name"}]},"Always Output Response":{"name":"Always Output Response"},"etag-max-cache-size":{"name":"etag-max-cache-size","dependencies":[{"propertyName":"use-etag","dependentValues":["true"]}]},"Content-Encoding":{"name":"Content-Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"disable-http2":{"name":"disable-http2"},"idle-timeout":{"name":"idle-timeout"},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute"},"Use Chunked Encoding":{"name":"Use Chunked Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"Follow Redirects":{"name":"Follow Redirects"},"Remote URL":{"name":"Remote URL"},"form-body-form-name":{"name":"form-body-form-name","dependencies":[{"propertyName":"send-message-body","dependentValues":["true"]}]},"Content-Type":{"name":"Content-Type","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy"},"max-idle-connections":{"name":"max-idle-connections"},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","dependencies":[{"propertyName":"Proxy Host"}]},"Read Timeout":{"name":"Read Timeout"},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","dependencies":[{"propertyName":"Put Response Body In Attribute"}]},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","dependencies":[{"propertyName":"Proxy Host"}]},"ignore-response-content":{"name":"ignore-response-content"},"Proxy Port":{"name":"Proxy Port","dependencies":[{"propertyName":"Proxy Host"}]},"SSL Context Service":{"name":"SSL Context Service","identifiesControllerService":"org.apache.nifi.ssl.SSLContextService"},"Digest Authentication":{"name":"Digest Authentication","dependencies":[{"propertyName":"Basic Authentication Username"}]},"HTTP Method":{"name":"HTTP Method"},"Add Response Headers to Request":{"name":"Add Response Headers to Request"},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","identifiesControllerService":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider"},"Basic Authentication Username":{"name":"Basic Authentication Username"},"Include Date Header":{"name":"Include Date Header"},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\""},"Useragent":{"name":"Useragent"}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"retryCount":10,"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins"}},{"id":"57ecd239-d332-309c-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","position":{"x":96.0,"y":1632.0},"name":"main-listener","type":"org.apache.nifi.processors.standard.ListenHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"state":"STOPPED","style":{},"relationships":[{"name":"success","autoTerminate":false,"retry":false}],"executionNodeRestricted":false,"config":{"properties":{"authorized-issuer-dn-pattern":".*","multipart-request-max-size":"1 MB","HTTP Protocols":"HTTP_1_1","Authorized DN Pattern":".*","max-thread-pool-size":"200","Base Path":"contentListener","multipart-read-buffer-size":"512 KB","Max Unconfirmed Flowfile Time":"60 secs","client-authentication":"AUTO","Return Code":"200"},"descriptors":{"authorized-issuer-dn-pattern":{"name":"authorized-issuer-dn-pattern"},"multipart-request-max-size":{"name":"multipart-request-max-size"},"record-writer":{"name":"record-writer","identifiesControllerService":"org.apache.nifi.serialization.RecordSetWriterFactory","dependencies":[{"propertyName":"record-reader"}]},"HTTP Protocols":{"name":"HTTP Protocols","dependencies":[{"propertyName":"SSL Context Service"}]},"HTTP Headers to receive as Attributes (Regex)":{"name":"HTTP Headers to receive as Attributes (Regex)"},"health-check-port":{"name":"health-check-port"},"Authorized DN Pattern":{"name":"Authorized DN Pattern"},"max-thread-pool-size":{"name":"max-thread-pool-size"},"Base Path":{"name":"Base Path"},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size"},"SSL Context Service":{"name":"SSL Context Service","identifiesControllerService":"org.apache.nifi.ssl.RestrictedSSLContextService"},"Max Unconfirmed Flowfile Time":{"name":"Max Unconfirmed Flowfile Time"},"Max Data to Receive per Second":{"name":"Max Data to Receive per Second"},"client-authentication":{"name":"client-authentication","dependencies":[{"propertyName":"SSL Context Service"}]},"Return Code":{"name":"Return Code"},"record-reader":{"name":"record-reader","identifiesControllerService":"org.apache.nifi.serialization.RecordReaderFactory"},"Listening Port":{"name":"Listening Port"}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"retryCount":10,"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins"}},{"id":"5aa045ac-0443-3963-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","position":{"x":1864.0,"y":336.0},"name":"filter-proceed-5","type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"state":"STOPPED","style":{},"relationships":[{"name":"Failure","autoTerminate":false,"retry":false},{"name":"No Retry","autoTerminate":false,"retry":false},{"name":"Original","autoTerminate":false,"retry":false},{"name":"Response","autoTerminate":false,"retry":false},{"name":"Retry","autoTerminate":false,"retry":false}],"executionNodeRestricted":false,"config":{"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"api.devflowsplus","Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"descriptors":{"Proxy Host":{"name":"Proxy Host"},"Attributes to Send":{"name":"Attributes to Send"},"use-etag":{"name":"use-etag"},"proxy-configuration-service":{"name":"proxy-configuration-service","identifiesControllerService":"org.apache.nifi.proxy.ProxyConfigurationService"},"Proxy Type":{"name":"Proxy Type","dependencies":[{"propertyName":"Proxy Host"}]},"Basic Authentication Password":{"name":"Basic Authentication Password"},"cookie-strategy":{"name":"cookie-strategy"},"Connection Timeout":{"name":"Connection Timeout"},"send-message-body":{"name":"send-message-body","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"set-form-filename":{"name":"set-form-filename","dependencies":[{"propertyName":"form-body-form-name"}]},"Always Output Response":{"name":"Always Output Response"},"etag-max-cache-size":{"name":"etag-max-cache-size","dependencies":[{"propertyName":"use-etag","dependentValues":["true"]}]},"Content-Encoding":{"name":"Content-Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"disable-http2":{"name":"disable-http2"},"idle-timeout":{"name":"idle-timeout"},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute"},"Use Chunked Encoding":{"name":"Use Chunked Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"Follow Redirects":{"name":"Follow Redirects"},"Remote URL":{"name":"Remote URL"},"form-body-form-name":{"name":"form-body-form-name","dependencies":[{"propertyName":"send-message-body","dependentValues":["true"]}]},"Content-Type":{"name":"Content-Type","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy"},"max-idle-connections":{"name":"max-idle-connections"},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","dependencies":[{"propertyName":"Proxy Host"}]},"Read Timeout":{"name":"Read Timeout"},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","dependencies":[{"propertyName":"Put Response Body In Attribute"}]},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","dependencies":[{"propertyName":"Proxy Host"}]},"ignore-response-content":{"name":"ignore-response-content"},"Proxy Port":{"name":"Proxy Port","dependencies":[{"propertyName":"Proxy Host"}]},"SSL Context Service":{"name":"SSL Context Service","identifiesControllerService":"org.apache.nifi.ssl.SSLContextService"},"Digest Authentication":{"name":"Digest Authentication","dependencies":[{"propertyName":"Basic Authentication Username"}]},"HTTP Method":{"name":"HTTP Method"},"Add Response Headers to Request":{"name":"Add Response Headers to Request"},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","identifiesControllerService":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider"},"Basic Authentication Username":{"name":"Basic Authentication Username"},"Include Date Header":{"name":"Include Date Header"},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\""},"Useragent":{"name":"Useragent"}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"retryCount":10,"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins"}},{"id":"6d0d5d4b-5483-3ec0-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","position":{"x":880.0,"y":768.0},"name":"filter-proceed-5","type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"state":"STOPPED","style":{},"relationships":[{"name":"Failure","autoTerminate":false,"retry":false},{"name":"No Retry","autoTerminate":false,"retry":false},{"name":"Original","autoTerminate":false,"retry":false},{"name":"Response","autoTerminate":false,"retry":false},{"name":"Retry","autoTerminate":false,"retry":false}],"executionNodeRestricted":false,"config":{"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"descriptors":{"Proxy Host":{"name":"Proxy Host"},"Attributes to Send":{"name":"Attributes to Send"},"use-etag":{"name":"use-etag"},"proxy-configuration-service":{"name":"proxy-configuration-service","identifiesControllerService":"org.apache.nifi.proxy.ProxyConfigurationService"},"Proxy Type":{"name":"Proxy Type","dependencies":[{"propertyName":"Proxy Host"}]},"Basic Authentication Password":{"name":"Basic Authentication Password"},"cookie-strategy":{"name":"cookie-strategy"},"Connection Timeout":{"name":"Connection Timeout"},"send-message-body":{"name":"send-message-body","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"set-form-filename":{"name":"set-form-filename","dependencies":[{"propertyName":"form-body-form-name"}]},"Always Output Response":{"name":"Always Output Response"},"etag-max-cache-size":{"name":"etag-max-cache-size","dependencies":[{"propertyName":"use-etag","dependentValues":["true"]}]},"Content-Encoding":{"name":"Content-Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"disable-http2":{"name":"disable-http2"},"idle-timeout":{"name":"idle-timeout"},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute"},"Use Chunked Encoding":{"name":"Use Chunked Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"Follow Redirects":{"name":"Follow Redirects"},"Remote URL":{"name":"Remote URL"},"form-body-form-name":{"name":"form-body-form-name","dependencies":[{"propertyName":"send-message-body","dependentValues":["true"]}]},"Content-Type":{"name":"Content-Type","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy"},"max-idle-connections":{"name":"max-idle-connections"},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","dependencies":[{"propertyName":"Proxy Host"}]},"Read Timeout":{"name":"Read Timeout"},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","dependencies":[{"propertyName":"Put Response Body In Attribute"}]},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","dependencies":[{"propertyName":"Proxy Host"}]},"ignore-response-content":{"name":"ignore-response-content"},"Proxy Port":{"name":"Proxy Port","dependencies":[{"propertyName":"Proxy Host"}]},"SSL Context Service":{"name":"SSL Context Service","identifiesControllerService":"org.apache.nifi.ssl.SSLContextService"},"Digest Authentication":{"name":"Digest Authentication","dependencies":[{"propertyName":"Basic Authentication Username"}]},"HTTP Method":{"name":"HTTP Method"},"Add Response Headers to Request":{"name":"Add Response Headers to Request"},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","identifiesControllerService":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider"},"Basic Authentication Username":{"name":"Basic Authentication Username"},"Include Date Header":{"name":"Include Date Header"},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\""},"Useragent":{"name":"Useragent"}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"retryCount":10,"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins"}},{"id":"79c1bc62-3d67-34fa-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","position":{"x":1032.0,"y":2136.0},"name":"query-action-5","type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"state":"STOPPED","style":{},"relationships":[{"name":"Failure","autoTerminate":false,"retry":false},{"name":"No Retry","autoTerminate":false,"retry":false},{"name":"Original","autoTerminate":false,"retry":false},{"name":"Response","autoTerminate":false,"retry":false},{"name":"Retry","autoTerminate":false,"retry":false}],"executionNodeRestricted":false,"config":{"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"descriptors":{"Proxy Host":{"name":"Proxy Host"},"Attributes to Send":{"name":"Attributes to Send"},"use-etag":{"name":"use-etag"},"proxy-configuration-service":{"name":"proxy-configuration-service","identifiesControllerService":"org.apache.nifi.proxy.ProxyConfigurationService"},"Proxy Type":{"name":"Proxy Type","dependencies":[{"propertyName":"Proxy Host"}]},"Basic Authentication Password":{"name":"Basic Authentication Password"},"cookie-strategy":{"name":"cookie-strategy"},"Connection Timeout":{"name":"Connection Timeout"},"send-message-body":{"name":"send-message-body","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"set-form-filename":{"name":"set-form-filename","dependencies":[{"propertyName":"form-body-form-name"}]},"Always Output Response":{"name":"Always Output Response"},"etag-max-cache-size":{"name":"etag-max-cache-size","dependencies":[{"propertyName":"use-etag","dependentValues":["true"]}]},"Content-Encoding":{"name":"Content-Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"disable-http2":{"name":"disable-http2"},"idle-timeout":{"name":"idle-timeout"},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute"},"Use Chunked Encoding":{"name":"Use Chunked Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"Follow Redirects":{"name":"Follow Redirects"},"Remote URL":{"name":"Remote URL"},"form-body-form-name":{"name":"form-body-form-name","dependencies":[{"propertyName":"send-message-body","dependentValues":["true"]}]},"Content-Type":{"name":"Content-Type","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy"},"max-idle-connections":{"name":"max-idle-connections"},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","dependencies":[{"propertyName":"Proxy Host"}]},"Read Timeout":{"name":"Read Timeout"},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","dependencies":[{"propertyName":"Put Response Body In Attribute"}]},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","dependencies":[{"propertyName":"Proxy Host"}]},"ignore-response-content":{"name":"ignore-response-content"},"Proxy Port":{"name":"Proxy Port","dependencies":[{"propertyName":"Proxy Host"}]},"SSL Context Service":{"name":"SSL Context Service","identifiesControllerService":"org.apache.nifi.ssl.SSLContextService"},"Digest Authentication":{"name":"Digest Authentication","dependencies":[{"propertyName":"Basic Authentication Username"}]},"HTTP Method":{"name":"HTTP Method"},"Add Response Headers to Request":{"name":"Add Response Headers to Request"},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","identifiesControllerService":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider"},"Basic Authentication Username":{"name":"Basic Authentication Username"},"Include Date Header":{"name":"Include Date Header"},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\""},"Useragent":{"name":"Useragent"}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"retryCount":10,"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins"}},{"id":"86fd25c6-763c-354f-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","position":{"x":1040.0,"y":2360.0},"name":"iterator-4","type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"state":"STOPPED","style":{},"relationships":[{"name":"Failure","autoTerminate":false,"retry":false},{"name":"No Retry","autoTerminate":false,"retry":false},{"name":"Original","autoTerminate":false,"retry":false},{"name":"Response","autoTerminate":false,"retry":false},{"name":"Retry","autoTerminate":false,"retry":false}],"executionNodeRestricted":false,"config":{"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"descriptors":{"Proxy Host":{"name":"Proxy Host"},"Attributes to Send":{"name":"Attributes to Send"},"use-etag":{"name":"use-etag"},"proxy-configuration-service":{"name":"proxy-configuration-service","identifiesControllerService":"org.apache.nifi.proxy.ProxyConfigurationService"},"Proxy Type":{"name":"Proxy Type","dependencies":[{"propertyName":"Proxy Host"}]},"Basic Authentication Password":{"name":"Basic Authentication Password"},"cookie-strategy":{"name":"cookie-strategy"},"Connection Timeout":{"name":"Connection Timeout"},"send-message-body":{"name":"send-message-body","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"set-form-filename":{"name":"set-form-filename","dependencies":[{"propertyName":"form-body-form-name"}]},"Always Output Response":{"name":"Always Output Response"},"etag-max-cache-size":{"name":"etag-max-cache-size","dependencies":[{"propertyName":"use-etag","dependentValues":["true"]}]},"Content-Encoding":{"name":"Content-Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"disable-http2":{"name":"disable-http2"},"idle-timeout":{"name":"idle-timeout"},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute"},"Use Chunked Encoding":{"name":"Use Chunked Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"Follow Redirects":{"name":"Follow Redirects"},"Remote URL":{"name":"Remote URL"},"form-body-form-name":{"name":"form-body-form-name","dependencies":[{"propertyName":"send-message-body","dependentValues":["true"]}]},"Content-Type":{"name":"Content-Type","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy"},"max-idle-connections":{"name":"max-idle-connections"},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","dependencies":[{"propertyName":"Proxy Host"}]},"Read Timeout":{"name":"Read Timeout"},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","dependencies":[{"propertyName":"Put Response Body In Attribute"}]},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","dependencies":[{"propertyName":"Proxy Host"}]},"ignore-response-content":{"name":"ignore-response-content"},"Proxy Port":{"name":"Proxy Port","dependencies":[{"propertyName":"Proxy Host"}]},"SSL Context Service":{"name":"SSL Context Service","identifiesControllerService":"org.apache.nifi.ssl.SSLContextService"},"Digest Authentication":{"name":"Digest Authentication","dependencies":[{"propertyName":"Basic Authentication Username"}]},"HTTP Method":{"name":"HTTP Method"},"Add Response Headers to Request":{"name":"Add Response Headers to Request"},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","identifiesControllerService":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider"},"Basic Authentication Username":{"name":"Basic Authentication Username"},"Include Date Header":{"name":"Include Date Header"},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\""},"Useragent":{"name":"Useragent"}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"retryCount":10,"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins"}},{"id":"89130db9-43a3-36a3-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","position":{"x":1976.0,"y":1992.0},"name":"echo-6","type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"state":"STOPPED","style":{},"relationships":[{"name":"Failure","autoTerminate":false,"retry":false},{"name":"No Retry","autoTerminate":false,"retry":false},{"name":"Original","autoTerminate":false,"retry":false},{"name":"Response","autoTerminate":false,"retry":false},{"name":"Retry","autoTerminate":false,"retry":false}],"executionNodeRestricted":false,"config":{"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"descriptors":{"Proxy Host":{"name":"Proxy Host"},"Attributes to Send":{"name":"Attributes to Send"},"use-etag":{"name":"use-etag"},"proxy-configuration-service":{"name":"proxy-configuration-service","identifiesControllerService":"org.apache.nifi.proxy.ProxyConfigurationService"},"Proxy Type":{"name":"Proxy Type","dependencies":[{"propertyName":"Proxy Host"}]},"Basic Authentication Password":{"name":"Basic Authentication Password"},"cookie-strategy":{"name":"cookie-strategy"},"Connection Timeout":{"name":"Connection Timeout"},"send-message-body":{"name":"send-message-body","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"set-form-filename":{"name":"set-form-filename","dependencies":[{"propertyName":"form-body-form-name"}]},"Always Output Response":{"name":"Always Output Response"},"etag-max-cache-size":{"name":"etag-max-cache-size","dependencies":[{"propertyName":"use-etag","dependentValues":["true"]}]},"Content-Encoding":{"name":"Content-Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"disable-http2":{"name":"disable-http2"},"idle-timeout":{"name":"idle-timeout"},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute"},"Use Chunked Encoding":{"name":"Use Chunked Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"Follow Redirects":{"name":"Follow Redirects"},"Remote URL":{"name":"Remote URL"},"form-body-form-name":{"name":"form-body-form-name","dependencies":[{"propertyName":"send-message-body","dependentValues":["true"]}]},"Content-Type":{"name":"Content-Type","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy"},"max-idle-connections":{"name":"max-idle-connections"},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","dependencies":[{"propertyName":"Proxy Host"}]},"Read Timeout":{"name":"Read Timeout"},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","dependencies":[{"propertyName":"Put Response Body In Attribute"}]},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","dependencies":[{"propertyName":"Proxy Host"}]},"ignore-response-content":{"name":"ignore-response-content"},"Proxy Port":{"name":"Proxy Port","dependencies":[{"propertyName":"Proxy Host"}]},"SSL Context Service":{"name":"SSL Context Service","identifiesControllerService":"org.apache.nifi.ssl.SSLContextService"},"Digest Authentication":{"name":"Digest Authentication","dependencies":[{"propertyName":"Basic Authentication Username"}]},"HTTP Method":{"name":"HTTP Method"},"Add Response Headers to Request":{"name":"Add Response Headers to Request"},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","identifiesControllerService":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider"},"Basic Authentication Username":{"name":"Basic Authentication Username"},"Include Date Header":{"name":"Include Date Header"},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\""},"Useragent":{"name":"Useragent"}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"retryCount":10,"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins"}},{"id":"9e39f8db-a860-3316-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","position":{"x":1032.0,"y":1488.0},"name":"input-node-1","type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"state":"STOPPED","style":{},"relationships":[{"name":"Failure","autoTerminate":false,"retry":false},{"name":"No Retry","autoTerminate":false,"retry":false},{"name":"Original","autoTerminate":false,"retry":false},{"name":"Response","autoTerminate":false,"retry":false},{"name":"Retry","autoTerminate":false,"retry":false}],"executionNodeRestricted":false,"config":{"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"descriptors":{"Proxy Host":{"name":"Proxy Host"},"Attributes to Send":{"name":"Attributes to Send"},"use-etag":{"name":"use-etag"},"proxy-configuration-service":{"name":"proxy-configuration-service","identifiesControllerService":"org.apache.nifi.proxy.ProxyConfigurationService"},"Proxy Type":{"name":"Proxy Type","dependencies":[{"propertyName":"Proxy Host"}]},"Basic Authentication Password":{"name":"Basic Authentication Password"},"cookie-strategy":{"name":"cookie-strategy"},"Connection Timeout":{"name":"Connection Timeout"},"send-message-body":{"name":"send-message-body","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"set-form-filename":{"name":"set-form-filename","dependencies":[{"propertyName":"form-body-form-name"}]},"Always Output Response":{"name":"Always Output Response"},"etag-max-cache-size":{"name":"etag-max-cache-size","dependencies":[{"propertyName":"use-etag","dependentValues":["true"]}]},"Content-Encoding":{"name":"Content-Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"disable-http2":{"name":"disable-http2"},"idle-timeout":{"name":"idle-timeout"},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute"},"Use Chunked Encoding":{"name":"Use Chunked Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"Follow Redirects":{"name":"Follow Redirects"},"Remote URL":{"name":"Remote URL"},"form-body-form-name":{"name":"form-body-form-name","dependencies":[{"propertyName":"send-message-body","dependentValues":["true"]}]},"Content-Type":{"name":"Content-Type","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy"},"max-idle-connections":{"name":"max-idle-connections"},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","dependencies":[{"propertyName":"Proxy Host"}]},"Read Timeout":{"name":"Read Timeout"},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","dependencies":[{"propertyName":"Put Response Body In Attribute"}]},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","dependencies":[{"propertyName":"Proxy Host"}]},"ignore-response-content":{"name":"ignore-response-content"},"Proxy Port":{"name":"Proxy Port","dependencies":[{"propertyName":"Proxy Host"}]},"SSL Context Service":{"name":"SSL Context Service","identifiesControllerService":"org.apache.nifi.ssl.SSLContextService"},"Digest Authentication":{"name":"Digest Authentication","dependencies":[{"propertyName":"Basic Authentication Username"}]},"HTTP Method":{"name":"HTTP Method"},"Add Response Headers to Request":{"name":"Add Response Headers to Request"},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","identifiesControllerService":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider"},"Basic Authentication Username":{"name":"Basic Authentication Username"},"Include Date Header":{"name":"Include Date Header"},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\""},"Useragent":{"name":"Useragent"}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"retryCount":10,"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins"}},{"id":"9e910d6c-0f29-3272-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","position":{"x":880.0,"y":552.0},"name":"iterator-4","type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"state":"STOPPED","style":{},"relationships":[{"name":"Failure","autoTerminate":false,"retry":false},{"name":"No Retry","autoTerminate":false,"retry":false},{"name":"Original","autoTerminate":false,"retry":false},{"name":"Response","autoTerminate":false,"retry":false},{"name":"Retry","autoTerminate":false,"retry":false}],"executionNodeRestricted":false,"config":{"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"descriptors":{"Proxy Host":{"name":"Proxy Host"},"Attributes to Send":{"name":"Attributes to Send"},"use-etag":{"name":"use-etag"},"proxy-configuration-service":{"name":"proxy-configuration-service","identifiesControllerService":"org.apache.nifi.proxy.ProxyConfigurationService"},"Proxy Type":{"name":"Proxy Type","dependencies":[{"propertyName":"Proxy Host"}]},"Basic Authentication Password":{"name":"Basic Authentication Password"},"cookie-strategy":{"name":"cookie-strategy"},"Connection Timeout":{"name":"Connection Timeout"},"send-message-body":{"name":"send-message-body","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"set-form-filename":{"name":"set-form-filename","dependencies":[{"propertyName":"form-body-form-name"}]},"Always Output Response":{"name":"Always Output Response"},"etag-max-cache-size":{"name":"etag-max-cache-size","dependencies":[{"propertyName":"use-etag","dependentValues":["true"]}]},"Content-Encoding":{"name":"Content-Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"disable-http2":{"name":"disable-http2"},"idle-timeout":{"name":"idle-timeout"},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute"},"Use Chunked Encoding":{"name":"Use Chunked Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"Follow Redirects":{"name":"Follow Redirects"},"Remote URL":{"name":"Remote URL"},"form-body-form-name":{"name":"form-body-form-name","dependencies":[{"propertyName":"send-message-body","dependentValues":["true"]}]},"Content-Type":{"name":"Content-Type","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy"},"max-idle-connections":{"name":"max-idle-connections"},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","dependencies":[{"propertyName":"Proxy Host"}]},"Read Timeout":{"name":"Read Timeout"},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","dependencies":[{"propertyName":"Put Response Body In Attribute"}]},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","dependencies":[{"propertyName":"Proxy Host"}]},"ignore-response-content":{"name":"ignore-response-content"},"Proxy Port":{"name":"Proxy Port","dependencies":[{"propertyName":"Proxy Host"}]},"SSL Context Service":{"name":"SSL Context Service","identifiesControllerService":"org.apache.nifi.ssl.SSLContextService"},"Digest Authentication":{"name":"Digest Authentication","dependencies":[{"propertyName":"Basic Authentication Username"}]},"HTTP Method":{"name":"HTTP Method"},"Add Response Headers to Request":{"name":"Add Response Headers to Request"},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","identifiesControllerService":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider"},"Basic Authentication Username":{"name":"Basic Authentication Username"},"Include Date Header":{"name":"Include Date Header"},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\""},"Useragent":{"name":"Useragent"}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"retryCount":10,"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins"}},{"id":"9ecab94f-a808-3f84-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","position":{"x":1440.0,"y":1488.0},"name":"schema-c-2","type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"state":"STOPPED","style":{},"relationships":[{"name":"Failure","autoTerminate":false,"retry":false},{"name":"No Retry","autoTerminate":false,"retry":false},{"name":"Original","autoTerminate":false,"retry":false},{"name":"Response","autoTerminate":false,"retry":false},{"name":"Retry","autoTerminate":false,"retry":false}],"executionNodeRestricted":false,"config":{"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"descriptors":{"Proxy Host":{"name":"Proxy Host"},"Attributes to Send":{"name":"Attributes to Send"},"use-etag":{"name":"use-etag"},"proxy-configuration-service":{"name":"proxy-configuration-service","identifiesControllerService":"org.apache.nifi.proxy.ProxyConfigurationService"},"Proxy Type":{"name":"Proxy Type","dependencies":[{"propertyName":"Proxy Host"}]},"Basic Authentication Password":{"name":"Basic Authentication Password"},"cookie-strategy":{"name":"cookie-strategy"},"Connection Timeout":{"name":"Connection Timeout"},"send-message-body":{"name":"send-message-body","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"set-form-filename":{"name":"set-form-filename","dependencies":[{"propertyName":"form-body-form-name"}]},"Always Output Response":{"name":"Always Output Response"},"etag-max-cache-size":{"name":"etag-max-cache-size","dependencies":[{"propertyName":"use-etag","dependentValues":["true"]}]},"Content-Encoding":{"name":"Content-Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"disable-http2":{"name":"disable-http2"},"idle-timeout":{"name":"idle-timeout"},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute"},"Use Chunked Encoding":{"name":"Use Chunked Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"Follow Redirects":{"name":"Follow Redirects"},"Remote URL":{"name":"Remote URL"},"form-body-form-name":{"name":"form-body-form-name","dependencies":[{"propertyName":"send-message-body","dependentValues":["true"]}]},"Content-Type":{"name":"Content-Type","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy"},"max-idle-connections":{"name":"max-idle-connections"},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","dependencies":[{"propertyName":"Proxy Host"}]},"Read Timeout":{"name":"Read Timeout"},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","dependencies":[{"propertyName":"Put Response Body In Attribute"}]},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","dependencies":[{"propertyName":"Proxy Host"}]},"ignore-response-content":{"name":"ignore-response-content"},"Proxy Port":{"name":"Proxy Port","dependencies":[{"propertyName":"Proxy Host"}]},"SSL Context Service":{"name":"SSL Context Service","identifiesControllerService":"org.apache.nifi.ssl.SSLContextService"},"Digest Authentication":{"name":"Digest Authentication","dependencies":[{"propertyName":"Basic Authentication Username"}]},"HTTP Method":{"name":"HTTP Method"},"Add Response Headers to Request":{"name":"Add Response Headers to Request"},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","identifiesControllerService":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider"},"Basic Authentication Username":{"name":"Basic Authentication Username"},"Include Date Header":{"name":"Include Date Header"},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\""},"Useragent":{"name":"Useragent"}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"retryCount":10,"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins"}},{"id":"a10b8f8c-3834-3c53-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","position":{"x":1032.0,"y":1928.0},"name":"batching-action-9","type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"state":"STOPPED","style":{},"relationships":[{"name":"Failure","autoTerminate":false,"retry":false},{"name":"No Retry","autoTerminate":false,"retry":false},{"name":"Original","autoTerminate":false,"retry":false},{"name":"Response","autoTerminate":false,"retry":false},{"name":"Retry","autoTerminate":false,"retry":false}],"executionNodeRestricted":false,"config":{"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"descriptors":{"Proxy Host":{"name":"Proxy Host"},"Attributes to Send":{"name":"Attributes to Send"},"use-etag":{"name":"use-etag"},"proxy-configuration-service":{"name":"proxy-configuration-service","identifiesControllerService":"org.apache.nifi.proxy.ProxyConfigurationService"},"Proxy Type":{"name":"Proxy Type","dependencies":[{"propertyName":"Proxy Host"}]},"Basic Authentication Password":{"name":"Basic Authentication Password"},"cookie-strategy":{"name":"cookie-strategy"},"Connection Timeout":{"name":"Connection Timeout"},"send-message-body":{"name":"send-message-body","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"set-form-filename":{"name":"set-form-filename","dependencies":[{"propertyName":"form-body-form-name"}]},"Always Output Response":{"name":"Always Output Response"},"etag-max-cache-size":{"name":"etag-max-cache-size","dependencies":[{"propertyName":"use-etag","dependentValues":["true"]}]},"Content-Encoding":{"name":"Content-Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"disable-http2":{"name":"disable-http2"},"idle-timeout":{"name":"idle-timeout"},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute"},"Use Chunked Encoding":{"name":"Use Chunked Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"Follow Redirects":{"name":"Follow Redirects"},"Remote URL":{"name":"Remote URL"},"form-body-form-name":{"name":"form-body-form-name","dependencies":[{"propertyName":"send-message-body","dependentValues":["true"]}]},"Content-Type":{"name":"Content-Type","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy"},"max-idle-connections":{"name":"max-idle-connections"},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","dependencies":[{"propertyName":"Proxy Host"}]},"Read Timeout":{"name":"Read Timeout"},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","dependencies":[{"propertyName":"Put Response Body In Attribute"}]},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","dependencies":[{"propertyName":"Proxy Host"}]},"ignore-response-content":{"name":"ignore-response-content"},"Proxy Port":{"name":"Proxy Port","dependencies":[{"propertyName":"Proxy Host"}]},"SSL Context Service":{"name":"SSL Context Service","identifiesControllerService":"org.apache.nifi.ssl.SSLContextService"},"Digest Authentication":{"name":"Digest Authentication","dependencies":[{"propertyName":"Basic Authentication Username"}]},"HTTP Method":{"name":"HTTP Method"},"Add Response Headers to Request":{"name":"Add Response Headers to Request"},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","identifiesControllerService":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider"},"Basic Authentication Username":{"name":"Basic Authentication Username"},"Include Date Header":{"name":"Include Date Header"},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\""},"Useragent":{"name":"Useragent"}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"retryCount":10,"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins"}},{"id":"a150207a-548f-3635-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","position":{"x":1864.0,"y":0.0},"name":"echo-3","type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"state":"STOPPED","style":{},"relationships":[{"name":"Failure","autoTerminate":false,"retry":false},{"name":"No Retry","autoTerminate":false,"retry":false},{"name":"Original","autoTerminate":false,"retry":false},{"name":"Response","autoTerminate":false,"retry":false},{"name":"Retry","autoTerminate":false,"retry":false}],"executionNodeRestricted":false,"config":{"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"api.devflowsplus","Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"descriptors":{"Proxy Host":{"name":"Proxy Host"},"Attributes to Send":{"name":"Attributes to Send"},"use-etag":{"name":"use-etag"},"proxy-configuration-service":{"name":"proxy-configuration-service","identifiesControllerService":"org.apache.nifi.proxy.ProxyConfigurationService"},"Proxy Type":{"name":"Proxy Type","dependencies":[{"propertyName":"Proxy Host"}]},"Basic Authentication Password":{"name":"Basic Authentication Password"},"cookie-strategy":{"name":"cookie-strategy"},"Connection Timeout":{"name":"Connection Timeout"},"send-message-body":{"name":"send-message-body","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"set-form-filename":{"name":"set-form-filename","dependencies":[{"propertyName":"form-body-form-name"}]},"Always Output Response":{"name":"Always Output Response"},"etag-max-cache-size":{"name":"etag-max-cache-size","dependencies":[{"propertyName":"use-etag","dependentValues":["true"]}]},"Content-Encoding":{"name":"Content-Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"disable-http2":{"name":"disable-http2"},"idle-timeout":{"name":"idle-timeout"},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute"},"Use Chunked Encoding":{"name":"Use Chunked Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"Follow Redirects":{"name":"Follow Redirects"},"Remote URL":{"name":"Remote URL"},"form-body-form-name":{"name":"form-body-form-name","dependencies":[{"propertyName":"send-message-body","dependentValues":["true"]}]},"Content-Type":{"name":"Content-Type","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy"},"max-idle-connections":{"name":"max-idle-connections"},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","dependencies":[{"propertyName":"Proxy Host"}]},"Read Timeout":{"name":"Read Timeout"},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","dependencies":[{"propertyName":"Put Response Body In Attribute"}]},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","dependencies":[{"propertyName":"Proxy Host"}]},"ignore-response-content":{"name":"ignore-response-content"},"Proxy Port":{"name":"Proxy Port","dependencies":[{"propertyName":"Proxy Host"}]},"SSL Context Service":{"name":"SSL Context Service","identifiesControllerService":"org.apache.nifi.ssl.SSLContextService"},"Digest Authentication":{"name":"Digest Authentication","dependencies":[{"propertyName":"Basic Authentication Username"}]},"HTTP Method":{"name":"HTTP Method"},"Add Response Headers to Request":{"name":"Add Response Headers to Request"},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","identifiesControllerService":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider"},"Basic Authentication Username":{"name":"Basic Authentication Username"},"Include Date Header":{"name":"Include Date Header"},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\""},"Useragent":{"name":"Useragent"}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"retryCount":10,"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins"}},{"id":"a9fb79f3-2ab5-3993-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","position":{"x":1904.0,"y":1680.0},"name":"iterator-4","type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"state":"STOPPED","style":{},"relationships":[{"name":"Failure","autoTerminate":false,"retry":false},{"name":"No Retry","autoTerminate":false,"retry":false},{"name":"Original","autoTerminate":false,"retry":false},{"name":"Response","autoTerminate":false,"retry":false},{"name":"Retry","autoTerminate":false,"retry":false}],"executionNodeRestricted":false,"config":{"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"descriptors":{"Proxy Host":{"name":"Proxy Host"},"Attributes to Send":{"name":"Attributes to Send"},"use-etag":{"name":"use-etag"},"proxy-configuration-service":{"name":"proxy-configuration-service","identifiesControllerService":"org.apache.nifi.proxy.ProxyConfigurationService"},"Proxy Type":{"name":"Proxy Type","dependencies":[{"propertyName":"Proxy Host"}]},"Basic Authentication Password":{"name":"Basic Authentication Password"},"cookie-strategy":{"name":"cookie-strategy"},"Connection Timeout":{"name":"Connection Timeout"},"send-message-body":{"name":"send-message-body","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"set-form-filename":{"name":"set-form-filename","dependencies":[{"propertyName":"form-body-form-name"}]},"Always Output Response":{"name":"Always Output Response"},"etag-max-cache-size":{"name":"etag-max-cache-size","dependencies":[{"propertyName":"use-etag","dependentValues":["true"]}]},"Content-Encoding":{"name":"Content-Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"disable-http2":{"name":"disable-http2"},"idle-timeout":{"name":"idle-timeout"},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute"},"Use Chunked Encoding":{"name":"Use Chunked Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"Follow Redirects":{"name":"Follow Redirects"},"Remote URL":{"name":"Remote URL"},"form-body-form-name":{"name":"form-body-form-name","dependencies":[{"propertyName":"send-message-body","dependentValues":["true"]}]},"Content-Type":{"name":"Content-Type","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy"},"max-idle-connections":{"name":"max-idle-connections"},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","dependencies":[{"propertyName":"Proxy Host"}]},"Read Timeout":{"name":"Read Timeout"},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","dependencies":[{"propertyName":"Put Response Body In Attribute"}]},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","dependencies":[{"propertyName":"Proxy Host"}]},"ignore-response-content":{"name":"ignore-response-content"},"Proxy Port":{"name":"Proxy Port","dependencies":[{"propertyName":"Proxy Host"}]},"SSL Context Service":{"name":"SSL Context Service","identifiesControllerService":"org.apache.nifi.ssl.SSLContextService"},"Digest Authentication":{"name":"Digest Authentication","dependencies":[{"propertyName":"Basic Authentication Username"}]},"HTTP Method":{"name":"HTTP Method"},"Add Response Headers to Request":{"name":"Add Response Headers to Request"},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","identifiesControllerService":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider"},"Basic Authentication Username":{"name":"Basic Authentication Username"},"Include Date Header":{"name":"Include Date Header"},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\""},"Useragent":{"name":"Useragent"}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"retryCount":10,"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins"}},{"id":"b6822a1c-7b6f-3b38-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","position":{"x":1032.0,"y":1696.0},"name":"async-action-3","type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"state":"STOPPED","style":{},"relationships":[{"name":"Failure","autoTerminate":false,"retry":false},{"name":"No Retry","autoTerminate":false,"retry":false},{"name":"Original","autoTerminate":false,"retry":false},{"name":"Response","autoTerminate":false,"retry":false},{"name":"Retry","autoTerminate":false,"retry":false}],"executionNodeRestricted":false,"config":{"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"descriptors":{"Proxy Host":{"name":"Proxy Host"},"Attributes to Send":{"name":"Attributes to Send"},"use-etag":{"name":"use-etag"},"proxy-configuration-service":{"name":"proxy-configuration-service","identifiesControllerService":"org.apache.nifi.proxy.ProxyConfigurationService"},"Proxy Type":{"name":"Proxy Type","dependencies":[{"propertyName":"Proxy Host"}]},"Basic Authentication Password":{"name":"Basic Authentication Password"},"cookie-strategy":{"name":"cookie-strategy"},"Connection Timeout":{"name":"Connection Timeout"},"send-message-body":{"name":"send-message-body","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"set-form-filename":{"name":"set-form-filename","dependencies":[{"propertyName":"form-body-form-name"}]},"Always Output Response":{"name":"Always Output Response"},"etag-max-cache-size":{"name":"etag-max-cache-size","dependencies":[{"propertyName":"use-etag","dependentValues":["true"]}]},"Content-Encoding":{"name":"Content-Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"disable-http2":{"name":"disable-http2"},"idle-timeout":{"name":"idle-timeout"},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute"},"Use Chunked Encoding":{"name":"Use Chunked Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"Follow Redirects":{"name":"Follow Redirects"},"Remote URL":{"name":"Remote URL"},"form-body-form-name":{"name":"form-body-form-name","dependencies":[{"propertyName":"send-message-body","dependentValues":["true"]}]},"Content-Type":{"name":"Content-Type","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy"},"max-idle-connections":{"name":"max-idle-connections"},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","dependencies":[{"propertyName":"Proxy Host"}]},"Read Timeout":{"name":"Read Timeout"},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","dependencies":[{"propertyName":"Put Response Body In Attribute"}]},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","dependencies":[{"propertyName":"Proxy Host"}]},"ignore-response-content":{"name":"ignore-response-content"},"Proxy Port":{"name":"Proxy Port","dependencies":[{"propertyName":"Proxy Host"}]},"SSL Context Service":{"name":"SSL Context Service","identifiesControllerService":"org.apache.nifi.ssl.SSLContextService"},"Digest Authentication":{"name":"Digest Authentication","dependencies":[{"propertyName":"Basic Authentication Username"}]},"HTTP Method":{"name":"HTTP Method"},"Add Response Headers to Request":{"name":"Add Response Headers to Request"},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","identifiesControllerService":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider"},"Basic Authentication Username":{"name":"Basic Authentication Username"},"Include Date Header":{"name":"Include Date Header"},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\""},"Useragent":{"name":"Useragent"}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"retryCount":10,"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins"}},{"id":"b7271d90-a0ed-3329-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","position":{"x":1904.0,"y":1392.0},"name":"async-action-3","type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"state":"STOPPED","style":{},"relationships":[{"name":"Failure","autoTerminate":false,"retry":false},{"name":"No Retry","autoTerminate":false,"retry":false},{"name":"Original","autoTerminate":false,"retry":false},{"name":"Response","autoTerminate":false,"retry":false},{"name":"Retry","autoTerminate":false,"retry":false}],"executionNodeRestricted":false,"config":{"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"descriptors":{"Proxy Host":{"name":"Proxy Host"},"Attributes to Send":{"name":"Attributes to Send"},"use-etag":{"name":"use-etag"},"proxy-configuration-service":{"name":"proxy-configuration-service","identifiesControllerService":"org.apache.nifi.proxy.ProxyConfigurationService"},"Proxy Type":{"name":"Proxy Type","dependencies":[{"propertyName":"Proxy Host"}]},"Basic Authentication Password":{"name":"Basic Authentication Password"},"cookie-strategy":{"name":"cookie-strategy"},"Connection Timeout":{"name":"Connection Timeout"},"send-message-body":{"name":"send-message-body","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"set-form-filename":{"name":"set-form-filename","dependencies":[{"propertyName":"form-body-form-name"}]},"Always Output Response":{"name":"Always Output Response"},"etag-max-cache-size":{"name":"etag-max-cache-size","dependencies":[{"propertyName":"use-etag","dependentValues":["true"]}]},"Content-Encoding":{"name":"Content-Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"disable-http2":{"name":"disable-http2"},"idle-timeout":{"name":"idle-timeout"},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute"},"Use Chunked Encoding":{"name":"Use Chunked Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"Follow Redirects":{"name":"Follow Redirects"},"Remote URL":{"name":"Remote URL"},"form-body-form-name":{"name":"form-body-form-name","dependencies":[{"propertyName":"send-message-body","dependentValues":["true"]}]},"Content-Type":{"name":"Content-Type","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy"},"max-idle-connections":{"name":"max-idle-connections"},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","dependencies":[{"propertyName":"Proxy Host"}]},"Read Timeout":{"name":"Read Timeout"},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","dependencies":[{"propertyName":"Put Response Body In Attribute"}]},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","dependencies":[{"propertyName":"Proxy Host"}]},"ignore-response-content":{"name":"ignore-response-content"},"Proxy Port":{"name":"Proxy Port","dependencies":[{"propertyName":"Proxy Host"}]},"SSL Context Service":{"name":"SSL Context Service","identifiesControllerService":"org.apache.nifi.ssl.SSLContextService"},"Digest Authentication":{"name":"Digest Authentication","dependencies":[{"propertyName":"Basic Authentication Username"}]},"HTTP Method":{"name":"HTTP Method"},"Add Response Headers to Request":{"name":"Add Response Headers to Request"},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","identifiesControllerService":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider"},"Basic Authentication Username":{"name":"Basic Authentication Username"},"Include Date Header":{"name":"Include Date Header"},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\""},"Useragent":{"name":"Useragent"}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"retryCount":10,"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins"}},{"id":"b8b67ee2-afb1-38a5-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","position":{"x":1544.0,"y":2376.0},"name":"echo-7","type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"state":"STOPPED","style":{},"relationships":[{"name":"Failure","autoTerminate":false,"retry":false},{"name":"No Retry","autoTerminate":false,"retry":false},{"name":"Original","autoTerminate":false,"retry":false},{"name":"Response","autoTerminate":false,"retry":false},{"name":"Retry","autoTerminate":false,"retry":false}],"executionNodeRestricted":false,"config":{"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"descriptors":{"Proxy Host":{"name":"Proxy Host"},"Attributes to Send":{"name":"Attributes to Send"},"use-etag":{"name":"use-etag"},"proxy-configuration-service":{"name":"proxy-configuration-service","identifiesControllerService":"org.apache.nifi.proxy.ProxyConfigurationService"},"Proxy Type":{"name":"Proxy Type","dependencies":[{"propertyName":"Proxy Host"}]},"Basic Authentication Password":{"name":"Basic Authentication Password"},"cookie-strategy":{"name":"cookie-strategy"},"Connection Timeout":{"name":"Connection Timeout"},"send-message-body":{"name":"send-message-body","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"set-form-filename":{"name":"set-form-filename","dependencies":[{"propertyName":"form-body-form-name"}]},"Always Output Response":{"name":"Always Output Response"},"etag-max-cache-size":{"name":"etag-max-cache-size","dependencies":[{"propertyName":"use-etag","dependentValues":["true"]}]},"Content-Encoding":{"name":"Content-Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"disable-http2":{"name":"disable-http2"},"idle-timeout":{"name":"idle-timeout"},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute"},"Use Chunked Encoding":{"name":"Use Chunked Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"Follow Redirects":{"name":"Follow Redirects"},"Remote URL":{"name":"Remote URL"},"form-body-form-name":{"name":"form-body-form-name","dependencies":[{"propertyName":"send-message-body","dependentValues":["true"]}]},"Content-Type":{"name":"Content-Type","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy"},"max-idle-connections":{"name":"max-idle-connections"},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","dependencies":[{"propertyName":"Proxy Host"}]},"Read Timeout":{"name":"Read Timeout"},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","dependencies":[{"propertyName":"Put Response Body In Attribute"}]},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","dependencies":[{"propertyName":"Proxy Host"}]},"ignore-response-content":{"name":"ignore-response-content"},"Proxy Port":{"name":"Proxy Port","dependencies":[{"propertyName":"Proxy Host"}]},"SSL Context Service":{"name":"SSL Context Service","identifiesControllerService":"org.apache.nifi.ssl.SSLContextService"},"Digest Authentication":{"name":"Digest Authentication","dependencies":[{"propertyName":"Basic Authentication Username"}]},"HTTP Method":{"name":"HTTP Method"},"Add Response Headers to Request":{"name":"Add Response Headers to Request"},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","identifiesControllerService":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider"},"Basic Authentication Username":{"name":"Basic Authentication Username"},"Include Date Header":{"name":"Include Date Header"},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\""},"Useragent":{"name":"Useragent"}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"retryCount":10,"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins"}},{"id":"bc81e13b-8d46-35cf-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","position":{"x":880.0,"y":992.0},"name":"filter-dont-6","type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"state":"STOPPED","style":{},"relationships":[{"name":"Failure","autoTerminate":false,"retry":false},{"name":"No Retry","autoTerminate":false,"retry":false},{"name":"Original","autoTerminate":false,"retry":false},{"name":"Response","autoTerminate":false,"retry":false},{"name":"Retry","autoTerminate":false,"retry":false}],"executionNodeRestricted":false,"config":{"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"descriptors":{"Proxy Host":{"name":"Proxy Host"},"Attributes to Send":{"name":"Attributes to Send"},"use-etag":{"name":"use-etag"},"proxy-configuration-service":{"name":"proxy-configuration-service","identifiesControllerService":"org.apache.nifi.proxy.ProxyConfigurationService"},"Proxy Type":{"name":"Proxy Type","dependencies":[{"propertyName":"Proxy Host"}]},"Basic Authentication Password":{"name":"Basic Authentication Password"},"cookie-strategy":{"name":"cookie-strategy"},"Connection Timeout":{"name":"Connection Timeout"},"send-message-body":{"name":"send-message-body","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"set-form-filename":{"name":"set-form-filename","dependencies":[{"propertyName":"form-body-form-name"}]},"Always Output Response":{"name":"Always Output Response"},"etag-max-cache-size":{"name":"etag-max-cache-size","dependencies":[{"propertyName":"use-etag","dependentValues":["true"]}]},"Content-Encoding":{"name":"Content-Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"disable-http2":{"name":"disable-http2"},"idle-timeout":{"name":"idle-timeout"},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute"},"Use Chunked Encoding":{"name":"Use Chunked Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"Follow Redirects":{"name":"Follow Redirects"},"Remote URL":{"name":"Remote URL"},"form-body-form-name":{"name":"form-body-form-name","dependencies":[{"propertyName":"send-message-body","dependentValues":["true"]}]},"Content-Type":{"name":"Content-Type","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy"},"max-idle-connections":{"name":"max-idle-connections"},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","dependencies":[{"propertyName":"Proxy Host"}]},"Read Timeout":{"name":"Read Timeout"},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","dependencies":[{"propertyName":"Put Response Body In Attribute"}]},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","dependencies":[{"propertyName":"Proxy Host"}]},"ignore-response-content":{"name":"ignore-response-content"},"Proxy Port":{"name":"Proxy Port","dependencies":[{"propertyName":"Proxy Host"}]},"SSL Context Service":{"name":"SSL Context Service","identifiesControllerService":"org.apache.nifi.ssl.SSLContextService"},"Digest Authentication":{"name":"Digest Authentication","dependencies":[{"propertyName":"Basic Authentication Username"}]},"HTTP Method":{"name":"HTTP Method"},"Add Response Headers to Request":{"name":"Add Response Headers to Request"},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","identifiesControllerService":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider"},"Basic Authentication Username":{"name":"Basic Authentication Username"},"Include Date Header":{"name":"Include Date Header"},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\""},"Useragent":{"name":"Useragent"}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"retryCount":10,"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins"}},{"id":"cfc27fa0-3e3b-33cb-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","position":{"x":1864.0,"y":688.0},"name":"aggregator-10","type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"state":"STOPPED","style":{},"relationships":[{"name":"Failure","autoTerminate":false,"retry":false},{"name":"No Retry","autoTerminate":false,"retry":false},{"name":"Original","autoTerminate":false,"retry":false},{"name":"Response","autoTerminate":false,"retry":false},{"name":"Retry","autoTerminate":false,"retry":false}],"executionNodeRestricted":false,"config":{"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"descriptors":{"Proxy Host":{"name":"Proxy Host"},"Attributes to Send":{"name":"Attributes to Send"},"use-etag":{"name":"use-etag"},"proxy-configuration-service":{"name":"proxy-configuration-service","identifiesControllerService":"org.apache.nifi.proxy.ProxyConfigurationService"},"Proxy Type":{"name":"Proxy Type","dependencies":[{"propertyName":"Proxy Host"}]},"Basic Authentication Password":{"name":"Basic Authentication Password"},"cookie-strategy":{"name":"cookie-strategy"},"Connection Timeout":{"name":"Connection Timeout"},"send-message-body":{"name":"send-message-body","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"set-form-filename":{"name":"set-form-filename","dependencies":[{"propertyName":"form-body-form-name"}]},"Always Output Response":{"name":"Always Output Response"},"etag-max-cache-size":{"name":"etag-max-cache-size","dependencies":[{"propertyName":"use-etag","dependentValues":["true"]}]},"Content-Encoding":{"name":"Content-Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"disable-http2":{"name":"disable-http2"},"idle-timeout":{"name":"idle-timeout"},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute"},"Use Chunked Encoding":{"name":"Use Chunked Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"Follow Redirects":{"name":"Follow Redirects"},"Remote URL":{"name":"Remote URL"},"form-body-form-name":{"name":"form-body-form-name","dependencies":[{"propertyName":"send-message-body","dependentValues":["true"]}]},"Content-Type":{"name":"Content-Type","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy"},"max-idle-connections":{"name":"max-idle-connections"},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","dependencies":[{"propertyName":"Proxy Host"}]},"Read Timeout":{"name":"Read Timeout"},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","dependencies":[{"propertyName":"Put Response Body In Attribute"}]},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","dependencies":[{"propertyName":"Proxy Host"}]},"ignore-response-content":{"name":"ignore-response-content"},"Proxy Port":{"name":"Proxy Port","dependencies":[{"propertyName":"Proxy Host"}]},"SSL Context Service":{"name":"SSL Context Service","identifiesControllerService":"org.apache.nifi.ssl.SSLContextService"},"Digest Authentication":{"name":"Digest Authentication","dependencies":[{"propertyName":"Basic Authentication Username"}]},"HTTP Method":{"name":"HTTP Method"},"Add Response Headers to Request":{"name":"Add Response Headers to Request"},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","identifiesControllerService":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider"},"Basic Authentication Username":{"name":"Basic Authentication Username"},"Include Date Header":{"name":"Include Date Header"},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\""},"Useragent":{"name":"Useragent"}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"retryCount":10,"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins"}},{"id":"d0fa0691-fbba-34e8-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","position":{"x":1304.0,"y":728.0},"name":"echo-8","type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"state":"STOPPED","style":{},"relationships":[{"name":"Failure","autoTerminate":false,"retry":false},{"name":"No Retry","autoTerminate":false,"retry":false},{"name":"Original","autoTerminate":false,"retry":false},{"name":"Response","autoTerminate":false,"retry":false},{"name":"Retry","autoTerminate":false,"retry":false}],"executionNodeRestricted":false,"config":{"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"descriptors":{"Proxy Host":{"name":"Proxy Host"},"Attributes to Send":{"name":"Attributes to Send"},"use-etag":{"name":"use-etag"},"proxy-configuration-service":{"name":"proxy-configuration-service","identifiesControllerService":"org.apache.nifi.proxy.ProxyConfigurationService"},"Proxy Type":{"name":"Proxy Type","dependencies":[{"propertyName":"Proxy Host"}]},"Basic Authentication Password":{"name":"Basic Authentication Password"},"cookie-strategy":{"name":"cookie-strategy"},"Connection Timeout":{"name":"Connection Timeout"},"send-message-body":{"name":"send-message-body","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"set-form-filename":{"name":"set-form-filename","dependencies":[{"propertyName":"form-body-form-name"}]},"Always Output Response":{"name":"Always Output Response"},"etag-max-cache-size":{"name":"etag-max-cache-size","dependencies":[{"propertyName":"use-etag","dependentValues":["true"]}]},"Content-Encoding":{"name":"Content-Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"disable-http2":{"name":"disable-http2"},"idle-timeout":{"name":"idle-timeout"},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute"},"Use Chunked Encoding":{"name":"Use Chunked Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"Follow Redirects":{"name":"Follow Redirects"},"Remote URL":{"name":"Remote URL"},"form-body-form-name":{"name":"form-body-form-name","dependencies":[{"propertyName":"send-message-body","dependentValues":["true"]}]},"Content-Type":{"name":"Content-Type","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy"},"max-idle-connections":{"name":"max-idle-connections"},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","dependencies":[{"propertyName":"Proxy Host"}]},"Read Timeout":{"name":"Read Timeout"},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","dependencies":[{"propertyName":"Put Response Body In Attribute"}]},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","dependencies":[{"propertyName":"Proxy Host"}]},"ignore-response-content":{"name":"ignore-response-content"},"Proxy Port":{"name":"Proxy Port","dependencies":[{"propertyName":"Proxy Host"}]},"SSL Context Service":{"name":"SSL Context Service","identifiesControllerService":"org.apache.nifi.ssl.SSLContextService"},"Digest Authentication":{"name":"Digest Authentication","dependencies":[{"propertyName":"Basic Authentication Username"}]},"HTTP Method":{"name":"HTTP Method"},"Add Response Headers to Request":{"name":"Add Response Headers to Request"},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","identifiesControllerService":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider"},"Basic Authentication Username":{"name":"Basic Authentication Username"},"Include Date Header":{"name":"Include Date Header"},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\""},"Useragent":{"name":"Useragent"}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"retryCount":10,"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins"}},{"id":"d91880e1-716f-3e1f-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","position":{"x":1496.0,"y":1688.0},"name":"echo-11","type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"state":"STOPPED","style":{},"relationships":[{"name":"Failure","autoTerminate":false,"retry":false},{"name":"No Retry","autoTerminate":false,"retry":false},{"name":"Original","autoTerminate":false,"retry":false},{"name":"Response","autoTerminate":false,"retry":false},{"name":"Retry","autoTerminate":false,"retry":false}],"executionNodeRestricted":false,"config":{"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"descriptors":{"Proxy Host":{"name":"Proxy Host"},"Attributes to Send":{"name":"Attributes to Send"},"use-etag":{"name":"use-etag"},"proxy-configuration-service":{"name":"proxy-configuration-service","identifiesControllerService":"org.apache.nifi.proxy.ProxyConfigurationService"},"Proxy Type":{"name":"Proxy Type","dependencies":[{"propertyName":"Proxy Host"}]},"Basic Authentication Password":{"name":"Basic Authentication Password"},"cookie-strategy":{"name":"cookie-strategy"},"Connection Timeout":{"name":"Connection Timeout"},"send-message-body":{"name":"send-message-body","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"set-form-filename":{"name":"set-form-filename","dependencies":[{"propertyName":"form-body-form-name"}]},"Always Output Response":{"name":"Always Output Response"},"etag-max-cache-size":{"name":"etag-max-cache-size","dependencies":[{"propertyName":"use-etag","dependentValues":["true"]}]},"Content-Encoding":{"name":"Content-Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"disable-http2":{"name":"disable-http2"},"idle-timeout":{"name":"idle-timeout"},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute"},"Use Chunked Encoding":{"name":"Use Chunked Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"Follow Redirects":{"name":"Follow Redirects"},"Remote URL":{"name":"Remote URL"},"form-body-form-name":{"name":"form-body-form-name","dependencies":[{"propertyName":"send-message-body","dependentValues":["true"]}]},"Content-Type":{"name":"Content-Type","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy"},"max-idle-connections":{"name":"max-idle-connections"},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","dependencies":[{"propertyName":"Proxy Host"}]},"Read Timeout":{"name":"Read Timeout"},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","dependencies":[{"propertyName":"Put Response Body In Attribute"}]},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","dependencies":[{"propertyName":"Proxy Host"}]},"ignore-response-content":{"name":"ignore-response-content"},"Proxy Port":{"name":"Proxy Port","dependencies":[{"propertyName":"Proxy Host"}]},"SSL Context Service":{"name":"SSL Context Service","identifiesControllerService":"org.apache.nifi.ssl.SSLContextService"},"Digest Authentication":{"name":"Digest Authentication","dependencies":[{"propertyName":"Basic Authentication Username"}]},"HTTP Method":{"name":"HTTP Method"},"Add Response Headers to Request":{"name":"Add Response Headers to Request"},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","identifiesControllerService":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider"},"Basic Authentication Username":{"name":"Basic Authentication Username"},"Include Date Header":{"name":"Include Date Header"},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\""},"Useragent":{"name":"Useragent"}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"retryCount":10,"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins"}},{"id":"fa9177f9-97ef-3842-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","position":{"x":1544.0,"y":2184.0},"name":"query-action-5","type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"state":"STOPPED","style":{},"relationships":[{"name":"Failure","autoTerminate":false,"retry":false},{"name":"No Retry","autoTerminate":false,"retry":false},{"name":"Original","autoTerminate":false,"retry":false},{"name":"Response","autoTerminate":false,"retry":false},{"name":"Retry","autoTerminate":false,"retry":false}],"executionNodeRestricted":false,"config":{"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"descriptors":{"Proxy Host":{"name":"Proxy Host"},"Attributes to Send":{"name":"Attributes to Send"},"use-etag":{"name":"use-etag"},"proxy-configuration-service":{"name":"proxy-configuration-service","identifiesControllerService":"org.apache.nifi.proxy.ProxyConfigurationService"},"Proxy Type":{"name":"Proxy Type","dependencies":[{"propertyName":"Proxy Host"}]},"Basic Authentication Password":{"name":"Basic Authentication Password"},"cookie-strategy":{"name":"cookie-strategy"},"Connection Timeout":{"name":"Connection Timeout"},"send-message-body":{"name":"send-message-body","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"set-form-filename":{"name":"set-form-filename","dependencies":[{"propertyName":"form-body-form-name"}]},"Always Output Response":{"name":"Always Output Response"},"etag-max-cache-size":{"name":"etag-max-cache-size","dependencies":[{"propertyName":"use-etag","dependentValues":["true"]}]},"Content-Encoding":{"name":"Content-Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"disable-http2":{"name":"disable-http2"},"idle-timeout":{"name":"idle-timeout"},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute"},"Use Chunked Encoding":{"name":"Use Chunked Encoding","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"Follow Redirects":{"name":"Follow Redirects"},"Remote URL":{"name":"Remote URL"},"form-body-form-name":{"name":"form-body-form-name","dependencies":[{"propertyName":"send-message-body","dependentValues":["true"]}]},"Content-Type":{"name":"Content-Type","dependencies":[{"propertyName":"HTTP Method","dependentValues":["POST","PATCH","PUT"]}]},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy"},"max-idle-connections":{"name":"max-idle-connections"},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","dependencies":[{"propertyName":"Proxy Host"}]},"Read Timeout":{"name":"Read Timeout"},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","dependencies":[{"propertyName":"Put Response Body In Attribute"}]},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","dependencies":[{"propertyName":"Proxy Host"}]},"ignore-response-content":{"name":"ignore-response-content"},"Proxy Port":{"name":"Proxy Port","dependencies":[{"propertyName":"Proxy Host"}]},"SSL Context Service":{"name":"SSL Context Service","identifiesControllerService":"org.apache.nifi.ssl.SSLContextService"},"Digest Authentication":{"name":"Digest Authentication","dependencies":[{"propertyName":"Basic Authentication Username"}]},"HTTP Method":{"name":"HTTP Method"},"Add Response Headers to Request":{"name":"Add Response Headers to Request"},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","identifiesControllerService":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider"},"Basic Authentication Username":{"name":"Basic Authentication Username"},"Include Date Header":{"name":"Include Date Header"},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\""},"Useragent":{"name":"Useragent"}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"retryCount":10,"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins"}}],"inputPorts":[],"outputPorts":[],"connections":[{"id":"09360e67-4aa3-37a9-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","source":{"id":"a10b8f8c-3834-3c53-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"destination":{"id":"89130db9-43a3-36a3-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalancePartitionAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStatus":"LOAD_BALANCE_NOT_CONFIGURED"},{"id":"10fd3f43-3e77-39e2-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","source":{"id":"9ecab94f-a808-3f84-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"destination":{"id":"b7271d90-a0ed-3329-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalancePartitionAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStatus":"LOAD_BALANCE_NOT_CONFIGURED"},{"id":"127c5bd4-2ece-3ad5-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","source":{"id":"57ecd239-d332-309c-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"destination":{"id":"0f1e46a9-1eac-3cb8-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalancePartitionAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStatus":"LOAD_BALANCE_NOT_CONFIGURED"},{"id":"2d24d226-d329-311a-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","source":{"id":"86fd25c6-763c-354f-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"destination":{"id":"b8b67ee2-afb1-38a5-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalancePartitionAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStatus":"LOAD_BALANCE_NOT_CONFIGURED"},{"id":"2f9e54a6-85d3-35f8-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","source":{"id":"22f3dd34-eff8-3314-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"destination":{"id":"cfc27fa0-3e3b-33cb-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalancePartitionAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStatus":"LOAD_BALANCE_NOT_CONFIGURED"},{"id":"30e458de-7dfa-3654-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","source":{"id":"9ecab94f-a808-3f84-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"destination":{"id":"a9fb79f3-2ab5-3993-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalancePartitionAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStatus":"LOAD_BALANCE_NOT_CONFIGURED"},{"id":"33a4e0ca-8435-3a3c-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","source":{"id":"79c1bc62-3d67-34fa-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"destination":{"id":"89130db9-43a3-36a3-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalancePartitionAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStatus":"LOAD_BALANCE_NOT_CONFIGURED"},{"id":"34cf7b11-750b-36be-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","source":{"id":"3feffda5-966c-380d-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"destination":{"id":"5aa045ac-0443-3963-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalancePartitionAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStatus":"LOAD_BALANCE_NOT_CONFIGURED"},{"id":"4f7a4231-4420-3bd2-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","source":{"id":"042ae2f8-6325-3eb1-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"destination":{"id":"6d0d5d4b-5483-3ec0-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["filter-proceed-5"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalancePartitionAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStatus":"LOAD_BALANCE_NOT_CONFIGURED"},{"id":"595a0151-3e95-3fce-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","source":{"id":"0f1e46a9-1eac-3cb8-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"destination":{"id":"a10b8f8c-3834-3c53-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["batching-action-9"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalancePartitionAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStatus":"LOAD_BALANCE_NOT_CONFIGURED"},{"id":"5ee7ea45-6591-3154-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","source":{"id":"86fd25c6-763c-354f-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"destination":{"id":"fa9177f9-97ef-3842-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalancePartitionAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStatus":"LOAD_BALANCE_NOT_CONFIGURED"},{"id":"6760d218-a444-31d1-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","source":{"id":"b8b67ee2-afb1-38a5-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"destination":{"id":"34a3a4ce-a943-3780-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalancePartitionAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStatus":"LOAD_BALANCE_NOT_CONFIGURED"},{"id":"71214ab2-2ad4-3d7d-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","source":{"id":"b6822a1c-7b6f-3b38-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"destination":{"id":"1d7c9dea-526e-36d0-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalancePartitionAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStatus":"LOAD_BALANCE_NOT_CONFIGURED"},{"id":"7e4c4ac9-b05f-3284-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","source":{"id":"042ae2f8-6325-3eb1-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"destination":{"id":"bc81e13b-8d46-35cf-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["filter-dont-6"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalancePartitionAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStatus":"LOAD_BALANCE_NOT_CONFIGURED"},{"id":"7fc62d72-a3a5-3839-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","source":{"id":"3feffda5-966c-380d-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"destination":{"id":"22b8560c-40a0-343f-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalancePartitionAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStatus":"LOAD_BALANCE_NOT_CONFIGURED"},{"id":"844cf777-ece3-3ea2-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","source":{"id":"3feffda5-966c-380d-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"destination":{"id":"a150207a-548f-3635-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalancePartitionAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStatus":"LOAD_BALANCE_NOT_CONFIGURED"},{"id":"97746f3e-7fdc-3371-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","source":{"id":"9e910d6c-0f29-3272-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"destination":{"id":"22f3dd34-eff8-3314-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalancePartitionAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStatus":"LOAD_BALANCE_NOT_CONFIGURED"},{"id":"9814eae2-a970-328c-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","source":{"id":"0f1e46a9-1eac-3cb8-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"destination":{"id":"86fd25c6-763c-354f-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["iterator-4"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalancePartitionAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStatus":"LOAD_BALANCE_NOT_CONFIGURED"},{"id":"ad1cb938-3995-3074-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","source":{"id":"3feffda5-966c-380d-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"destination":{"id":"4730087b-0f5b-3331-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalancePartitionAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStatus":"LOAD_BALANCE_NOT_CONFIGURED"},{"id":"b022a230-1a07-3438-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","source":{"id":"0f1e46a9-1eac-3cb8-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"destination":{"id":"9e39f8db-a860-3316-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["input-node-1"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalancePartitionAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStatus":"LOAD_BALANCE_NOT_CONFIGURED"},{"id":"c201f85a-2ca9-3573-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","source":{"id":"9e910d6c-0f29-3272-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"destination":{"id":"d0fa0691-fbba-34e8-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalancePartitionAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStatus":"LOAD_BALANCE_NOT_CONFIGURED"},{"id":"c89f6d16-c188-3db6-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","source":{"id":"042ae2f8-6325-3eb1-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"destination":{"id":"9e910d6c-0f29-3272-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["iterator-4"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalancePartitionAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStatus":"LOAD_BALANCE_NOT_CONFIGURED"},{"id":"d33e92d6-6cf8-3c71-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","source":{"id":"b6822a1c-7b6f-3b38-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"destination":{"id":"d91880e1-716f-3e1f-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalancePartitionAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStatus":"LOAD_BALANCE_NOT_CONFIGURED"},{"id":"db9e7492-ae0d-3384-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","source":{"id":"6d0d5d4b-5483-3ec0-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"destination":{"id":"3d28ab62-c612-3daa-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalancePartitionAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStatus":"LOAD_BALANCE_NOT_CONFIGURED"},{"id":"de2e09f6-34e3-36ea-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","source":{"id":"0f1e46a9-1eac-3cb8-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"destination":{"id":"b6822a1c-7b6f-3b38-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["async-action-3"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalancePartitionAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStatus":"LOAD_BALANCE_NOT_CONFIGURED"},{"id":"e2690a96-0ec3-3bbd-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","source":{"id":"9ecab94f-a808-3f84-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"destination":{"id":"1dc5c8bd-d73e-3c4c-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalancePartitionAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStatus":"LOAD_BALANCE_NOT_CONFIGURED"},{"id":"eac926f1-0f3b-3f7f-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","source":{"id":"9e39f8db-a860-3316-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"destination":{"id":"9ecab94f-a808-3f84-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalancePartitionAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStatus":"LOAD_BALANCE_NOT_CONFIGURED"},{"id":"eb96f07b-359e-3354-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","source":{"id":"2cd91183-394d-31a7-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"destination":{"id":"042ae2f8-6325-3eb1-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalancePartitionAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStatus":"LOAD_BALANCE_NOT_CONFIGURED"},{"id":"ed0e30f2-c19a-3108-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","source":{"id":"438503aa-3565-3d2a-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"destination":{"id":"3feffda5-966c-380d-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalancePartitionAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStatus":"LOAD_BALANCE_NOT_CONFIGURED"},{"id":"ef94bdfe-0bae-373c-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","source":{"id":"bc81e13b-8d46-35cf-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"destination":{"id":"3d28ab62-c612-3daa-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalancePartitionAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStatus":"LOAD_BALANCE_NOT_CONFIGURED"},{"id":"f3a22968-3343-39b1-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","source":{"id":"0f1e46a9-1eac-3cb8-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"destination":{"id":"79c1bc62-3d67-34fa-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["query-action-5"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalancePartitionAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStatus":"LOAD_BALANCE_NOT_CONFIGURED"},{"id":"fe1c075b-6339-3aa4-0000-000000000000","parentGroupId":"4e636f1f-a5fc-3233-0000-000000000000","source":{"id":"042ae2f8-6325-3eb1-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"destination":{"id":"438503aa-3565-3d2a-0000-000000000000","type":"PROCESSOR","groupId":"4e636f1f-a5fc-3233-0000-000000000000"},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["input-node-1"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalancePartitionAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStatus":"LOAD_BALANCE_NOT_CONFIGURED"}],"labels":[],"funnels":[],"controllerServices":[]},"encoding-version":"1.3"},"componentType":"TEMPLATE","groupIdentifier":"e4019344-0186-1000-4883-58f9737b5c16"}],"rootGroup":{"identifier":"d1133665-d4f7-36c5-acb2-479d017de5c6","instanceIdentifier":"e4019344-0186-1000-4883-58f9737b5c16","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[{"identifier":"dcfdf3f8-f516-391f-bf18-f091f9d40eb9","instanceIdentifier":"e4a33c32-0186-1000-00db-34510da6dd3e","name":"simple-flow","comments":"","position":{"x":856.0,"y":768.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"48d44744-3518-36b6-85a2-c409fab9f0e3","instanceIdentifier":"e4a40324-0186-1000-8a3d-ba5b9d4497f8","name":"InvokeHTTP","comments":"","position":{"x":728.0,"y":216.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://baconipsum.com/api/?type=abc","Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dcfdf3f8-f516-391f-bf18-f091f9d40eb9"},{"identifier":"56aba6b5-b169-35e5-803c-f1e05e7f3a78","instanceIdentifier":"e4a38b44-0186-1000-b3b0-58a66ea9a8c7","name":"ListenHTTP","comments":"","position":{"x":304.0,"y":216.0},"type":"org.apache.nifi.processors.standard.ListenHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"authorized-issuer-dn-pattern":".*","multipart-request-max-size":"1 MB","HTTP Protocols":"HTTP_1_1","Authorized DN Pattern":".*","max-thread-pool-size":"200","Base Path":"listener","multipart-read-buffer-size":"512 KB","Max Unconfirmed Flowfile Time":"60 secs","client-authentication":"AUTO","Return Code":"200","Listening Port":"8080"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dcfdf3f8-f516-391f-bf18-f091f9d40eb9"},{"identifier":"fcdb067f-a879-35be-9e68-ba865c2fc130","instanceIdentifier":"e4a44150-0186-1000-8817-98813c735893","name":"PutFile","comments":"","position":{"x":1168.0,"y":216.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Create Missing Directories":"true","Permissions":"rwxrwxrwx","Directory":"/Users/prakhar/Desktop/","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dcfdf3f8-f516-391f-bf18-f091f9d40eb9"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"c6b809e6-ad1e-3cb4-8f68-b2cbc8e34dcd","instanceIdentifier":"e4a470a5-0186-1000-2c3b-101560079a0d","name":"","source":{"id":"48d44744-3518-36b6-85a2-c409fab9f0e3","type":"PROCESSOR","groupId":"dcfdf3f8-f516-391f-bf18-f091f9d40eb9","name":"InvokeHTTP","comments":"","instanceIdentifier":"e4a40324-0186-1000-8a3d-ba5b9d4497f8"},"destination":{"id":"fcdb067f-a879-35be-9e68-ba865c2fc130","type":"PROCESSOR","groupId":"dcfdf3f8-f516-391f-bf18-f091f9d40eb9","name":"PutFile","comments":"","instanceIdentifier":"e4a44150-0186-1000-8817-98813c735893"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dcfdf3f8-f516-391f-bf18-f091f9d40eb9"},{"identifier":"077dc2bd-9941-3c90-ba25-65464e3b0ce3","instanceIdentifier":"e4a41dd2-0186-1000-af2b-ba5e04a6604d","name":"","source":{"id":"56aba6b5-b169-35e5-803c-f1e05e7f3a78","type":"PROCESSOR","groupId":"dcfdf3f8-f516-391f-bf18-f091f9d40eb9","name":"ListenHTTP","comments":"","instanceIdentifier":"e4a38b44-0186-1000-b3b0-58a66ea9a8c7"},"destination":{"id":"48d44744-3518-36b6-85a2-c409fab9f0e3","type":"PROCESSOR","groupId":"dcfdf3f8-f516-391f-bf18-f091f9d40eb9","name":"InvokeHTTP","comments":"","instanceIdentifier":"e4a40324-0186-1000-8a3d-ba5b9d4497f8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dcfdf3f8-f516-391f-bf18-f091f9d40eb9"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"d1133665-d4f7-36c5-acb2-479d017de5c6"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"}}
